<%
    var events = params.events;
    var filterByType = events.length && events[0].type;
%>

<br>
<br>

<% if (filterByType) { %>
    <div class="filter-buttons" filter="timeline">
        <div class="filter-button active" filter-set="personal">
            personal
        </div>
        <div class="filter-button active" filter-set="spouse">
            spouse
        </div>
        <div class="filter-button active" filter-set="child">
            children
        </div>
    </div>
<% } %>

<br>

<table class="event_list">
    <tr>
        <th> title </th>
        <th> date </th>
        <th> location </th>
        <th> people </th>
        <th> notes </th>
    </tr>
    <% for (var i = 0; i < events.length; i++) { %>
        <%
            var event = events[i];
            var eventPath = '/event/' + events[i]._id;
            var eventType = event.type || 'notype';
        %>
        <tr class="event-row-<%= eventType %>" filter="timeline" filter-set="<%= eventType %>">
            <td>
                <a href="<%= eventPath %>"><%= event.title %></a>
            </td>
            <td>
                <%- include('../format/date', { params: {
                    date: event.date,
                }}) %>
            </td>
            <td>
                <%- include('../format/location', { params: {
                    location: event.location,
                }}) %>
            </td>
            <td>
                <ul>
                    <% for (var p = 0; p < event.people.length; p++) { %>
                        <li>
                            <%- include('../partials/linkToPerson', {person: event.people[p]}) %>
                        </li>
                    <% } %>
                </ul>
            </td>
            <td style="max-width: 400px;">
                <%= event.notes %>
            </td>
        </tr>
    <% } %>
</table>

<% if (filterByType) { %>
    <script>
        createToggleFilter('timeline');
    </script>
<% } %>
