<%
    var events = params.events;
    var filterByType = events.length && events[0].type;
%>

<% if (filterByType) { %>
    <div class="filter-buttons" filter="timeline">
        <div class="filter-button active" filter-set="personal">
            personal
        </div>
        <div class="filter-button active" filter-set="spouse">
            spouse
        </div>
        <div class="filter-button active" filter-set="child">
            children
        </div>
        <div class="filter-button active" filter-set="census">
            census
        </div>
        <div class="filter-button active" filter-set="newspapers">
            newspapers
        </div>
        <div class="filter-button" filter-set="source">
            other sources
        </div>
    </div>
<% } %>

<br>

<table class="event_list">
    <tr>
        <th> title </th>
        <th> date </th>
        <th> location </th>
        <th> people </th>
        <th> notes </th>
    </tr>
    <% for (var i = 0; i < events.length; i++) { %>
        <%
            var event = events[i];
            var eventType = event.type || 'notype';
            let eventPath, eventTitle;

            if (event.source) {
                eventPath = '/source/' + event.source._id;
            } else {
                eventPath = '/event/' + event._id;
            }

            if (event.title.match('global - ')) {
                eventTitle = event.title.replace('global - ', '');
            } else {
                eventTitle = event.title;
            }
        %>
        <tr class="event-row-<%= eventType %>" filter="timeline" filter-set="<%= eventType %>">
            <td>
                <a href="<%= eventPath %>"><%= eventTitle %></a>
            </td>
            <td>
                <%- include('../format/date', { params: {
                    date: event.date,
                }}) %>
            </td>
            <td>
                <%- include('../format/location', { params: {
                    location: event.location,
                }}) %>
            </td>
            <td>
                <%- include('../partials/peopleList', { params: {
                    people: event.people,
                    format: 'list',
                }}) %>
            </td>
            <td style="max-width: 400px;">
                <%= event.notes %>
                <% if (event.source) { %>
                    <% for (var j = 0; j < event.source.images.length; j++) { %>
                        <a href="<%= event.source.images[j] %>" target="_blank"><img
                            src="<%= event.source.images[j] %>"
                            style="max-height: 100px; max-width: 350px;"></a>
                    <% } %>
                <% } %>
            </td>
        </tr>
    <% } %>
</table>

<% if (filterByType) { %>
    <script>
        createToggleFilter('timeline');
    </script>
<% } %>
