<table class="event_list">
    <tr>
        <th> Title </th>
        <th> Date </th>
        <th> Location </th>
        <th> People </th>
    </tr>
    <% for (var i = 0; i < events.length; i++) { %>
        <%
            var event = events[i];
            var eventPath = '/event/' + events[i]._id;
        %>
        <tr>
            <td>
                <a href="<%= eventPath %>"><%= event.title %></a>
            </td>
            <td>
                <%- include('../format/date', {date: event.date}) %>
            </td>
            <td>
                <%- include('../format/location', { location: event.location }) %>
            </td>
            <td>
                <ul>
                    <% for (var p = 0; p < event.people.length; p++) { %>
                        <li>
                            <%- include('../partials/linkToPerson', {person: event.people[p]}) %>
                        </li>
                    <% } %>
                </ul>
            </td>
        </tr>
    <% } %>
</table>
