<%
    var filterByType = events.length && events[0].type;
%>

<% if (filterByType) { %>
    <div id="event-list-filters">
        <div class="active" event-type="personal">
            personal
        </div>
        <div class="active" event-type="child">
            children
        </div>
    </div>
<% } %>

<table class="event_list">
    <tr>
        <th> title </th>
        <th> date </th>
        <th> location </th>
        <th> people </th>
        <th> notes </th>
    </tr>
    <% for (var i = 0; i < events.length; i++) { %>
        <%
            var event = events[i];
            var eventPath = '/event/' + events[i]._id;
        %>
        <tr class="event-row-<%= event.type || 'notype' %>">
            <td>
                <a href="<%= eventPath %>"><%= event.title %></a>
            </td>
            <td>
                <%- include('../format/date', {date: event.date}) %>
            </td>
            <td>
                <%- include('../format/location', { location: event.location }) %>
            </td>
            <td>
                <ul>
                    <% for (var p = 0; p < event.people.length; p++) { %>
                        <li>
                            <%- include('../partials/linkToPerson', {person: event.people[p]}) %>
                        </li>
                    <% } %>
                </ul>
            </td>
            <td>
                <%= event.notes %>
            </td>
        </tr>
    <% } %>
</table>

<% if (filterByType) { %>
    <script>
        $('#event-list-filters div').toArray().forEach(function(element, i) {
            var current = true;
            var $button = $(element);
            var eventType = $button.attr('event-type');
            var $rows = $('.event_list').find('tr.event-row-' + eventType);
            console.log($rows);
            $button.click(function() {
                current = !current;
                if (current) {
                    $button.addClass('active');
                } else {
                    $button.removeClass('active');
                }
                $rows.toggle(current);
            });
        });
    </script>
<% } %>
