<%
    const rootPath = '/event/' + event._id;
%>

<h1><%= event.title %></h1>

<table class="edit-form-frame">

    <!-- TITLE -->

    <%- include('../forms/tableRowSingle', { params: {
        attr: 'title',
        editPath: rootPath + '/edit/title',
        originalValue: event.title,
    }}) %>

    <!-- DATE -->

    <%- include('../forms/tableRowRoute', { params: {
        attr: 'date',
        rootEditPath: rootPath,
        editPath: rootPath + '/edit/date',
        originalValue: event.date,
    }}) %>

    <!-- LOCATION -->

    <%- include('../forms/tableRowRoute', { params: {
        attr: 'location',
        rootEditPath: rootPath,
        editPath: rootPath + '/edit/location',
        originalValue: event.location,
    }}) %>

    <!-- PEOPLE -->

    <%- include('../forms/tableRowMulti', {
        attr: 'people',
        rootPath: rootPath,
        values: event.people,
    }) %>

    <!-- NOTES -->

    <%- include('../forms/tableRowSingle', { params: {
        attr: 'notes',
        editPath: rootPath + '/edit/notes',
        originalValue: event.notes,
    }}) %>
</table>

<!-- DELETE EVENT -->

<% if (editField == 'none') { %>
    <form action="<%= rootPath %>/delete" method="POST" onsubmit="return confirmDeletion('event')">
        <p style="padding-top: 20px;">
            <input type="hidden" value="PUT" name="_method">
            <button type="submit" class="button-delete">delete event</button>
        </p>
    </form>
<% } %>

<script>
  initializeEditForm('<%= editField %>' != 'none');
</script>
