<%
  let selectedId, selectedType;

  if (locals.selectedStory) {
    if (selectedStory._id) {
      selectedId = '' + selectedStory._id;
      selectedType = selectedStory.type;
    } else {
      selectedId = selectedStory;
    }
  }

  let storyTypes = {};
  stories.forEach(story => storyTypes[story.type] = true);
  storyTypes = Object.keys(storyTypes).filter(storyType => {
    return !['artifact', 'event', 'landmark', 'place'].includes(storyType);
  });

  const storyFilterId = 'story-type-filter-' + fieldName;
  const storySelectorId = 'story-selector-' + fieldName;
%>

<select id="<%= storyFilterId %>">
  <option value="">
    -- select --
  </option>
  <% storyTypes.forEach(storyType => { %>
    <% if (selectedType == storyType) { %>
      <option value="<%= storyType %>" selected="selected">
        <%= storyType %>
      </option>
    <% } else { %>
      <option value="<%= storyType %>">
        <%= storyType %>
      </option>
    <% } %>
  <% }); %>
</select>

<select id="<%= storySelectorId %>" name="<%= fieldName %>">
  <option value="0">
    -- select --
  </option>
  <% stories.forEach(story => { %>
    <% if (selectedId == '' + story._id) { %>
      <option value="<%= story.id %>" selected="selected" story-type="<%= story.type %>">
        <%= story.title %>
      </option>
    <% } else { %>
      <option value="<%= story.id %>" story-type="<%= story.type %>">
        <%= story.title %>
      </option>
    <% } %>
  <% }); %>
</select>

<script>
  (() => {
    const $type = $('#<%= storyFilterId %>');
    const $story = $('#<%= storySelectorId %>');
    const storyTypeList = [
      <% storyTypes.forEach(s => { %>
        '<%= s %>',
      <% }); %>
    ];

    $type.change(() => {
      $story.val('0');
      const currentType = $type.val();

      if (!currentType) {
        $story.find('option').show();
        return;
      }

      if (currentType == 'other') {
        $story.find('option[story-type]').each((i, option) => {
          const storyType = $(option).attr('story-type');
          $(option).toggle(!storyTypeList.includes(storyType));
        });
        return;
      }

      $story.find('option[story-type]').each((i, option) => {
        const storyType = $(option).attr('story-type');
        $(option).toggle(storyType == currentType);
      });
    });

    <% if (selectedType) { %>
      $story.find('option[story-type]')
        .not(':selected, [story-type="<%= selectedType %>"]').hide();
    <% } %>
  })();
</script>
