<%
  const rootPath = '/story/' + story._id;
  const navLinks = [];

  if (subview == 'edit') {
    navLinks.push(['', 'done']);
  } else {
    navLinks.push(['', 'show']);
    navLinks.push(['edit', 'edit']);

    if (story.entries.length > 0) {
      navLinks.push(['entries', 'entries']);
    }

    if (story.canHaveEntries()) {
      navLinks.push(['newEntry', '+ new entry']);
    }

    navLinks.push(['notations', 'notations']);
  }
%>

<div class="column">
  <p><%= story.type %></p>
  <h1><%= story.title %></h1>
  <p>
    <% navLinks.forEach(([path, text]) => { %>
      <a href="<%= rootPath + '/' + path %>" class="main-link"><%= text %></a>
    <% }); %>
  </p>
</div>

<%- include('./' + subview) %>
