<h1>entries</h1>

<table class="nice-table">
  <tr>
    <th>entry</th>
    <% checkItems.forEach(attr => { %>
      <th>
        <%= attr %>
      </th>
    <% }); %>
  </tr>
  <% sourceList.forEach(sourceChecklist => { %>
    <tr>
      <td>
        <%- include('../source/_link', {source: sourceChecklist.source}) %>
      </td>
      <% checkItems.forEach(attr => { %>
        <% const isChecked = sourceChecklist[attr] || false; %>
        <td>
          <img class="checkmark-inline" src="/images/check-<%= isChecked %>.png">
        </td>
      <% }); %>
    </tr>
  <% }); %>
</table>

<h1>people</h1>

<div>
  filter: <input id="people-list-filter" type="text">
</div>

<div class="column">
  <h2>done</h2>
  <%- include('../person/_list', {format: 'bullet', people: peopleLists.done}) %>
</div>

<div class="column">
  <h2>missing census</h2>

  <p>
    (shows age in <%= censusYear %>)
  </p>

  <ul class="person-list bullet-list">
    <% peopleLists.missingStory.forEach(person => { %>
      <li class="person-row" person-name="<%= person.name.toLowerCase() %>">
        <%- include('../person/_link', {person}) %>
        - <%= censusYear - person.getBirthYear() %>
      </li>
    <% }) %>
  </ul>

  <hr>

  <h2>maybe not in country</h2>

  <p>
    (shows age in <%= censusYear %>)
  </p>

  <ul class="person-list bullet-list">
    <% peopleLists.maybeNotInCountry.forEach(person => { %>
      <li class="person-row" person-name="<%= person.name.toLowerCase() %>">
        <%- include('../person/_link', {person}) %>
        - <%= censusYear - person.getBirthYear() %>
      </li>
    <% }) %>
  </ul>
</div>

<div class="column">
  <h2>missing birth and death dates</h2>

  <%- include('../person/_list', {format: 'bullet', people: peopleLists.missingDates}) %>
</div>

<hr>

<div class="column">
  <h2>died before census</h2>

  <p>
    (shows year of death)
  </p>

  <ul class="person-list bullet-list">
    <% peopleLists.diedBefore.forEach(person => { %>
      <li class="person-row" person-name="<%= person.name.toLowerCase() %>">
        <%- include('../person/_link', {person}) %>
        - <%= person.getDeathYear() %>
      </li>
    <% }) %>
  </ul>
</div>

<div class="column">
  <h2>born after census</h2>

  <p>
    (shows year of birth)
  </p>

  <ul class="person-list bullet-list">
    <% peopleLists.bornAfter.forEach(person => { %>
      <li class="person-row" person-name="<%= person.name.toLowerCase() %>">
        <%- include('../person/_link', {person}) %>
        - <%= person.getBirthYear() %>
      </li>
    <% }) %>
  </ul>
</div>

<script>
  createQuickFilter({
    input: '#people-list-filter',
    items: '.person-list .person-row',
    getItemText: $item => $item.attr('person-name'),
    startFocus: false,
  });
</script>
