<%
  const rootPath = '/story/' + story._id;
  const rootEditPath = '/story/' + story._id + '/edit';
%>

<table class="edit-form-frame">

  <!-- SHARING -->

  <%- include('../forms/tableRowSingle', {
    attr: 'sharing',
    editPath: rootEditPath + '/sharing',
    originalValue: story.sharing,
    toggle: true,
  }) %>

  <!-- TYPE -->

  <%- include('../forms/tableRowSingle', {
    attr: 'type',
    editPath: rootEditPath + '/type',
    originalValue: story.type,
  }) %>

  <!-- GROUP (can be removed but not added) -->

  <% if (story.group) { %>
    <%- include('../forms/tableRowSingle', {
      attr: 'group',
      editPath: rootEditPath + '/group',
      originalValue: story.group,
    }) %>
  <% } %>

  <!-- TITLE -->

  <%- include('../forms/tableRowSingle', {
    attr: 'title',
    editPath: rootEditPath + '/title',
    originalValue: story.title,
  }) %>

  <!-- DATE -->

  <% if (canHaveDate) { %>
    <%- include('../forms/tableRowSingle', {
      attr: 'date',
      editPath: rootEditPath + '/date',
      originalValue: story.date,
    }) %>
  <% } %>

  <!-- LOCATION -->

  <%- include('../forms/tableRowSingle', {
    attr: 'location',
    editPath: rootEditPath + '/location',
    originalValue: story.location,
  }) %>

  <!-- PEOPLE -->

  <%- include('../forms/tableRowMulti', {
    attr: 'people',
    rootPath: rootPath,
    values: story.people,
  }) %>

  <!-- LINKS -->

  <%- include('../forms/tableRowMulti', {
    attr: 'links',
    rootPath: rootPath,
    values: story.links,
  }) %>

  <!-- IMAGES -->

  <%- include('../forms/tableRowMulti', {
    attr: 'images',
    rootPath: rootPath,
    values: story.images,
  }) %>

  <!-- IMAGES -->

  <%- include('../forms/tableRowMulti', {
    attr: 'tags',
    rootPath: rootPath,
    values: story.tags,
  }) %>

  <!-- NOTES -->

  <%- include('../forms/tableRowSingle', {
    attr: 'notes',
    editPath: rootEditPath + '/notes',
    originalValue: story.notes,
    fieldType: 'textarea',
  }) %>

  <!-- SUMMARY -->

  <%- include('../forms/tableRowSingle', {
    attr: 'summary',
    editPath: rootEditPath + '/summary',
    originalValue: story.summary,
    fieldType: 'textarea',
  }) %>
</table>

<script>
  initializeEditForm();
</script>
