<style>
    .treecell.unknown div {
        background-color: #ddd;
    }
    .treecell.foreign-born div {
        background-color: #bfe7ff;
    }
    .treecell.dead-end div {
        background-color: #ffc9c9;
    }
</style>

<%
    if (person.name == null) {
        person = people.filter((thisPerson) => {
            return thisPerson.id == person;
        })[0];
    }

    var cellClass = 'treecell';

    if (showCountry && person.birthCountry != null) {
        if (person.birthCountry == 'United States') {
            if (person.parents.length < 2) {
                cellClass += ' dead-end';
            }
        } else if (person.birthCountry == 'unknown') {
            cellClass += ' unknown';
            if (person.parents.length < 2) {
                cellClass += ' dead-end';
            } else {
                cellClass += ' unknown';
            }
        } else {
            cellClass += ' foreign-born';
        }
    }
%>

<% if (person != null && safety < 50) { %>
    <table>
        <tr>
            <% for (var p = 0; p < person.parents.length; p++) { %>
                <% var parent = person.parents[p]; %>
                <td valign="bottom" align="center">
                    <%- include('../partials/personTree', {
                        person: parent,
                        people: people,
                        safety: safety + 1,
                        showCountry: showCountry,
                        foundNationality: null,
                    }) %>
                </td>
            <% } %>
        </tr>
        <tr>
            <td colspan="<%= person.parents.length || 1 %>" class="<%= cellClass %>">
                <div>
                    <%- include('../partials/linkToPerson', {person: person}) %>
                    <% if (showCountry && person.birthCountry != 'United States') { %>
                        <%= person.birthCountry %>
                    <% } %>
                </div>
            </td>
        </tr>
    </table>
<% } %>
