<% if (locals.person) { %>
  <%
    let personId = person.customId;
    if (personId == null || locals.useRealId) {
      personId = person.id || person._id;
    }
    const linkText = locals.linkText ? locals.linkText : person.name;
  %>
  <% if (locals.format === 'photo') { %>
    <%
      const profileImage = person.profileImage || '/images/generic-profile-picture.png';
    %>
    <div class="person-link-with-photo">
      <a href="/person/<%= personId %>"
        ><img src="<%= profileImage %>" class="item-icon"><%= linkText %></a>
    </div>
  <% } else { %>
    <a href="/person/<%= personId %>"><%= linkText %></a>
  <% } %>
<% } else { %>
  ________
<% } %>
