<% if (locals.format == 'bullet') { %>
  <ul class="person-list bullet-list">
    <% people.forEach(person => { %>
      <li class="person-row" person-name="<%= person.name.toLowerCase() %>">
        <%- include('./_link', {person}) %>
        <%= locals.showAge ? ('(' + person.age + ')') : '' %>
        <%= locals.showDeathYear && ' - ' + person.getDeathYear() %>
      </li>
    <% }); %>
  </ul>
<% } else if (locals.format == 'list') { %>
  <ul class="person-list no-bullet-list">
    <% people.forEach(person => { %>
      <li class="person-row" person-name="<%= person.name.toLowerCase() %>">
        <%- include('./_link', {person}) %>
        <%= locals.showAge ? ('(' + person.age + ')') : '' %>
        <%= locals.showDeathYear && ' - ' + person.getDeathYear() %>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  (specify peopleList format)
<% } %>
