<%
  const safety = locals.safety || 0;
  const showCountry = locals.showCountry == true;
  let foundNationality = locals.foundNationality || false;
  let cellClass = 'treecell';

  if (person.name == null) {
    person = people.filter(p => p._id == person)[0];
  }

  if (showCountry && person.birthCountry != null) {
    if (person.birthCountry == 'United States') {
      if (person.parents.length < 2) {
        cellClass += ' dead-end';
      } else {
        cellClass += ' usa';
      }
    } else if (person.birthCountry == 'unknown') {
      if (!foundNationality) {
        cellClass += ' dead-end';
        foundNationality = true;
      } else {
        cellClass += ' unknown';
      }
    } else {
      if (foundNationality) {
        cellClass += ' old-country';
      } else {
        cellClass += ' first-generation';
        foundNationality = true;
      }
    }
  }
%>

<% if (person != null && safety < 50) { %>
  <table>
    <tr>
      <% person.parents.forEach(parent => { %>
        <td valign="bottom" align="center">
          <%- include('./tree', {
            person: parent,
            people: people,
            safety: safety + 1,
            showCountry: showCountry,
            foundNationality: foundNationality,
          }) %>
        </td>
      <% }); %>
    </tr>
    <tr>
      <td colspan="<%= person.parents.length || 1 %>" class="<%= cellClass %>">
        <div>
          <%- include('../partials/linkToPerson', {
            person: person
          }) %>
          <% if (showCountry && person.birthCountry != 'United States') { %>
            <%= person.birthCountry %>
          <% } %>
        </div>
      </td>
    </tr>
  </table>
<% } %>
