<%
  const rootPath = '/image/' + image._id;
  const rootEditPath = rootPath + '/edit';
%>

<h1>Image</h1>

<img src="<%= image.url %>" class="main-image">

<% if (image.story) { %>
  <h2>belongs to story</h2>
  <%- include('../story/_link', {story: image.story}) %>
<% } %>

<% if (image.source) { %>
  <h2>belongs to source</h2>
  <%- include('../source/_link', {source: image.source, showStory: true}) %>
<% } %>

<% if (!image.source && !image.story) { %>
  <h2>(orphan image - no story or source)</h2>
<% } %>

<%- include('../tag/_list', {tags: image.tags}) %>

<hr>

<h2>edit</h2>

<table class="edit-form-frame">

  <!-- URL -->

  <%- include('../forms/tableRowSingle', {
    attr: 'url',
    editPath: rootEditPath + '/url',
    originalValue: image.url,
  }) %>

  <!-- TAGS -->

  <%- include('../forms/tableRowMulti', {
    attr: 'tags',
    rootPath: rootPath,
    values: image.tags,
  }) %>

</table>

<style>
  .main-image {
    max-height: 500px;
    max-width: 1000px;
  }
  hr {
    margin: 30px 0;
  }
</style>

<script>
  initializeEditForm();
</script>
