<style>
  .main-image {
    max-height: 500px;
    max-width: 1000px;
  }
  hr {
    margin: 30px 0;
  }
</style>

<h1>Image</h1>

<img src="<%= image.src() %>" class="main-image">

<% if (image.story) { %>
  <h2>belongs to story</h2>
  <%- include('../story/_link', {story: image.story}) %>
<% } %>

<% if (image.source) { %>
  <h2>belongs to source</h2>
  <%- include('../source/_link', {source: image.source, showStory: true}) %>
<% } %>

<% if (!image.source && !image.story) { %>
  <h2>(orphan image - no story or source)</h2>
<% } %>

<% if (image.tags.length) { %>
  <h2>tags</h2>
  <%- include('../tag/_list', {item: image}) %>
<% } %>

<hr>

<h2>edit</h2>

<%- include('../forms/editTable', {
  item: image,
  itemName: 'image',
  rootPath,
  fields,
}) %>
