<h1>Checklist - Tags</h1>

<h3>total: <%= totalNumTags %> tags</h3>

<h2>not defined</h2>

<ul class="bullet-list">
  <% tagsUndefined.forEach(tag => { %>
    <li>
      <a href="<%= tag.path %>"><%= tag.name %></a>
      - <%= tag.count %>
    </li>
  <% }); %>
</ul>

<h2>defined</h2>

<ul class="bullet-list">
  <% tagsDefined.forEach(tag => { %>
    <li>
      <a href="<%= tag.path %>"><%= tag.name %></a>
      - <%= tag.count %>
      <br><%= tag.definition %>
    </li>
  <% }); %>
</ul>
