<%
  function getTagValue(item, parentheses = true) {
    let tagValue;

    if (item.tags.length) {
      const index = item.tags.indexOf(tag._id);
      tagValue = item.tagValues[index];
    } else {
      for (let i in item.tempTags) {
        const nextTag = item.tempTags[i];
        if (nextTag.match('=')
            && nextTag.split('=')[0].trim() === tag.title) {
          tagValue = nextTag.slice(nextTag.indexOf('=') + 1).trim();
          break;
        }
      }
    }

    if (tagValue && parentheses) {
      return '(' + tagValue + ')';
    }

    return tagValue;
  }
%>

<h2>definition</h2>

<% if (tag.definition) { %>
  <% tag.definition.split('\n').forEach(text => { %>
    <p id="show-notation">
      <%= text %>
    </p>
  <% }); %>
<% } %>

<% if (tag.title === 'number of children') { %>
  <%- include('./_special-numChildren', {people: data.people}) %>
<% } else if (data.people.length > 0) { %>
  <h2>people</h2>
  <ul class="bullet-list">
    <% data.people.forEach(person => { %>
      <li>
        <%- include('../person/_link', {person}) %>
        <%= getTagValue(person) %>
      </li>
    <% }); %>
  </ul>
<% } %>

<% if (data.stories.length > 0) { %>
  <h2>stories</h2>
  <ul class="bullet-list">
    <% data.stories.forEach(story => { %>
      <li>
        <%- include('../story/_link', {story}) %>
        - <%= story.type %>
        <%= getTagValue(story) %>
      </li>
    <% }); %>
  </ul>
<% } %>

<% if (data.sources.length > 0) { %>
  <h2>sources</h2>
  <ul class="bullet-list">
    <% data.sources.forEach(source => { %>
      <li>
        <%- include('../source/_link', {showStory: true, source}) %>
        <%= getTagValue(source) %>
      </li>
    <% }); %>
  </ul>
<% } %>

<% if (data.events.length > 0) { %>
  <h2>events</h2>
  <ul class="bullet-list">
    <% data.events.forEach(event => { %>
      <li>
        <%- include('../event/_link', {event}) %>
        <%= getTagValue(event) %>
      </li>
    <% }); %>
  </ul>
<% } %>

<% if (data.notations.length > 0) { %>
  <h2>notations</h2>
  <ul class="bullet-list">
    <% data.notations.forEach(notation => { %>
      <li>
        <%- include('../notation/_link', {notation}) %>
        <%= getTagValue(notation) %>
      </li>
    <% }); %>
  </ul>
<% } %>

<% if (data.images.length > 0) { %>
  <h2>images</h2>
  <% data.images.forEach(image => { %>
    <div style="display: inline-block; width: 200px;">
      <%- include('../image/_link', {image}) %>
    </div>
  <% }); %>
<% } %>
