<%
    var personStrItems = ['_id', 'customId', 'name'];
    var personArrItems = ['parents', 'spouses', 'children'];
%>

<title>
    Database | Lundberg Ancestry
</title>

<div id="content">
    <h1>var database = {</h1>

    <h2>"people": {</h2>

    <% people.forEach((person, i) => { %>
        <span>
            "<%= person._id %>": <%= JSON.stringify(person) %><%= i < people.length - 1 ? ',' : '' %>
        </span><br>
    <% }); %>

    <h2>}, "sources": {</h2>

    <% sources.forEach((source, i) => { %>
        <span>
            "<%= source._id %>": <%= JSON.stringify(source) %><%= i < sources.length - 1 ? ',' : '' %>
        </span><br>
    <% }); %>

    <h2>}, "events": {</h2>

    <% events.forEach((event, i) => { %>
        <span>
            "<%= event._id %>": <%= JSON.stringify(event) %><%= i < events.length - 1 ? ',' : '' %>
        </span><br>
    <% }); %>

    <h2>}, "citations": {</h2>

    <% citations.forEach((citation, i) => { %>
        <span>
            "<%= citation._id %>": <%= JSON.stringify(citation) %><%= i < citations.length - 1 ? ',' : '' %>
        </span><br>
    <% }); %>

    <h2>}</h2>
    <h1>}</h1>
</div>
