<h1>To-do List</h1>

<form class="edit-to-do-list" method="post" action="/to-do/new">
    <textarea name="todo"></textarea>
    <button>add</button>
</form>

<table class="to-do-list">
    <% todoItems.reverse().forEach(todo => { %>
        <tr class="to-do-list-item">
            <td class="display-todo">
                <% todo.items.forEach(item => { %>
                    <p>
                        <% if (item.match('http')) { %>
                            <a href="<%=item %>" target="_blank"><%= item %></a>
                        <% } else { %>
                            <%= item %>
                        <% } %>
                    </p>
                <% }); %>
            </td>
            <td class="edit-todo">
                <form class="edit-to-do-list" method="post" action="/to-do/edit/<%= todo._id %>">
                    <textarea name="todo"><%= todo.items.join('\n') %></textarea>
                    <button>save</button>
                </form>
            </td>
            <td>
                <span class="button-edit clickable-link">edit</span>
                <span class="button-cancel clickable-link">cancel</span>
            </td>
        </tr>
    <% }); %>
</table>

<script>
    $('.to-do-list-item').each((i, todo) => {
        $(todo).find('.button-edit').click(() => {
            $('.to-do-list-item').find('.button-edit').hide();
            $(todo).find('.display-todo').hide();
            $(todo).find('.edit-todo, .button-cancel').show();
        });
        $(todo).find('.button-cancel').click(() => {
            $('.to-do-list-item').find('.button-edit').show();
            $(todo).find('.display-todo').show();
            $(todo).find('.edit-todo, .button-cancel').hide();
        });
    });
</script>
