<%- include ../partials/header %>

<%
    var rootPath = "/person/" + paramPersonId;
    var rootEditPath = rootPath + "/edit"
%>

<div id="page-content">
    <%- include('../people/personHeader', { params: {
        person: person,
        edit: true,
    }}) %>

    <table class="edit-form-frame">

        <!-- NAME -->

        <%- include('../forms/tableRowSingle', { params: {
            attr: 'name',
            editPath: rootEditPath + '/name',
            originalValue: person.name,
        }}) %>

        <!-- ID -->

        <%- include('../forms/tableRowSingle', { params: {
            attr: 'customId',
            attrName: 'id',
            editPath: rootEditPath + '/id',
            originalValue: person.customId,
        }}) %>

        <!-- SHARE -->

        <%- include('../forms/tableRowSingle', { params: {
            attr: 'shareLevel',
            attrName: 'sharing level',
            editPath: rootPath + '/toggle/shareLevel',
            originalValue: person.sharing.level,
            toggle: true,
        }}) %>

        <% if (person.sharing.level == 1) { %>
            <%- include('../forms/tableRowSingle', { params: {
                attr: 'shareName',
                attrName: 'sharing name',
                editPath: rootEditPath + '/shareName',
                originalValue: person.sharing.name,
            }}) %>
        <% } %>

        <!-- PARENTS -->

        <%- include('../forms/tableRowMulti', { params: {
            attr: 'parents',
            rootPath: rootPath,
            values: person.parents,
            dataType: 'people',
        }}) %>

        <!-- SPOUSES -->

        <%- include('../forms/tableRowMulti', { params: {
            attr: 'spouses',
            rootPath: rootPath,
            values: person.spouses,
            dataType: 'people',
        }}) %>

        <!-- CHILDREN -->

        <%- include('../forms/tableRowMulti', { params: {
            attr: 'children',
            rootPath: rootPath,
            values: person.children,
            dataType: 'people',
        }}) %>

        <!-- LINKS -->

        <%- include('../forms/tableRowMulti', { params: {
            attr: 'links',
            rootPath: rootPath,
            values: person.links,
        }}) %>

    </table>

</div>

<script>
    initializeEditForm(false);
</script>
