<ul class="person-navigation">
    <li><a href="<%= rootPath %>">summary</a></li>
    <li><a href="<%= rootPath %>/edit">edit person</a></li>
    <li><a href="<%= rootPath %>/sources">sources</a></li>
    <li><a href="<%= rootPath %>/nationality">nationality</a></li>
    <li><a href="<%= rootPath %>/checklist">checklist</a></li>
</ul>
