<style>
.column {
  width: 40%;
}
hr {
  margin: 20px 0;
}
</style>

<h1>Year: <%= locals.year %></h1>

<p>
  <% for (let y = year - 6; y < year; y++ ) { %>
    &#160; <a href="/year/<%= y %>"><%= y %></a>
  <% } %>
  &#160; <%= year %>
  <% for (let y = year + 1; y <= year + 6; y++ ) { %>
    &#160; <a href="/year/<%= y %>"><%= y %></a>
  <% } %>
</p>

<hr>

<div class="column">
  <h2>born this year</h2>
  <%- include('../person/_list', {
    people: locals.peopleLists.bornThisYear,
    format: 'bullet',
    hideNotes: true,
  }) %>
</div>

<div class="column">
  <h2>died this year</h2>
  <%- include('../person/_list', {
    people: locals.peopleLists.diedThisYear,
    format: 'bullet',
  }) %>
</div>

<h2>alive during this year</h2>

<div class="column">
  <%- include('../person/_list', {
    people: locals.peopleLists.livedThisYear1,
    format: 'bullet',
  }) %>
</div>

<div class="column">
  <%- include('../person/_list', {
    people: locals.peopleLists.livedThisYear2,
    format: 'bullet',
  }) %>
</div>
