<%
  const textList = notation.text ? notation.text.split('\n') : [];

  const isCitation = notation.title == 'source citation';

  const siteLinks = [];

  const tagTitles = notation.tags.map(tag => tag.title);

  if (tagTitles.includes('brick wall')
      || tagTitles.includes('broken brick wall')) {
    siteLinks.push(['topic/brickwalls', 'topic: brick walls']);
  }

  if (notation.title == 'profile summary'
      || tagTitles.includes('profile summary')) {
    notation.people.forEach(person => {
      siteLinks.push(['person/' + person.customId, person.name
        + ' profile (summary)']);
    });
  }

  if (tagTitles.includes('research notes')) {
    notation.people.forEach(person => {
      siteLinks.push(['person/' + person.customId, person.name
        + ' profile (research notes section)']);
    });
  }

  const showSharing = notation.sharing|| !isCitation;
  const showAppearances = siteLinks.length > 0 || !isCitation;
%>

<h1>Notation</h1>
<h2><%= notation.title %></h2>

<p>
  <a href="/notation/<%= notation._id %>/edit">edit</a>
</p>

<% if (showSharing) { %>
  <h2>sharing</h2>
  <p>
    <% if (notation.sharing) { %>
      <img class="checkmark-inline" src="/images/check-true.png"> yes
    <% } else { %>
      <img class="checkmark-inline" src="/images/check-false.png"> no
    <% } %>
  </p>
<% } %>

<% if (notation.source) { %>
  <h2>belongs to source</h2>
  <%- include('../source/_link', {
    source: notation.source,
    showStory: true,
  }) %>
<% } %>

<% if (isCitation && notation.stories.length == 1) { %>
  <h2>belongs to story</h2>
  <p>
    <%- include('../story/_link', {story: notation.stories[0]}) %>
  </p>
<% } else if (notation.stories.length) { %>
  <h2>pinned to stories</h2>
  <% notation.stories.forEach(story => { %>
    <p>
      <%- include('../story/_link', {story}) %>
    </p>
  <% }); %>
<% } %>

<% if (!isCitation) { %>
  <h2>people</h2>
  <%- include('../person/_list', {people: notation.people, format: 'bullet'}) %>

  <h2>tags</h2>
  <%- include('../tag/_list', {item: notation}) %>
<% } %>

<h2>text</h2>

<% textList.forEach(text => { %>
  <p>
    <%= text %>
  </p>
<% }); %>

<% if (locals.citations) { %>
  <h2>citations</h2>
  <%- include('../citation/_list', {
    citations,
    citationsByPerson,
    showDelete: false,
    showSource: false,
    showPerson: true,
    rootPath: null,
    groupBy: 'person',
  }) %>
<% } %>

<% if (showAppearances) { %>
  <h1>Appearances</h1>

  <% siteLinks.forEach(([url, text]) => { %>
    <p>
      <a href="http://localhost:8000/?<%= url %>" target="_blank"><%= text %></a>
    </p>
  <% }); %>
<% } %>
