<style>
    ul {
        margin-left: 30px;
    }
    #location-list, #show-pins {
        display: inline-block;
        vertical-align: text-top;
        height: 85%;
        overflow: scroll;
    }
    #location-list {
        width: 30%;
    }
    #show-pins {
        width: 60%;
    }
    #map {
        height: 500px;
        width: 700px;
    }
</style>

<h2>Map</h2>

<%- include('./embed') %>

<br>

<div id="location-list">
    <ul class="map-list-country">
        <li>
            <span onClick="showPlace()">
                show all
            </span>
        </li>
        <% for (let country in pins) { %>
            <li>
                <span onClick="showPlace('<%= country %>')">
                    <%= country %>
                </span>
                <ul class="map-list-region1">
                    <% for (let region1 in pins[country]) { %>
                        <li>
                            <span onClick="showPlace('<%= country %>','<%= region1 %>')">
                                <%= region1 %>
                            </span>
                            <ul class="map-list-region2">
                                <% for (let region2 in pins[country][region1]) { %>
                                    <li>
                                        <span onClick="showPlace('<%= country %>','<%= region1 %>','<%= region2 %>')">
                                            <%= region2 %>
                                        </span>
                                        <ul class="map-list-city">
                                            <% for (let city in pins[country][region1][region2]) { %>
                                                <li>
                                                    <span onClick="showPlace('<%= country %>','<%= region1 %>','<%= region2 %>','<%= city %>')">
                                                        <%= city %>
                                                    </span>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </li>
                                <% } %>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            </li>
        <% } %>
    </ul>
</div>

<div id="show-pins">
    <table class="event_list">
        <tr>
            <th> title </th>
            <th> date </th>
            <th> location </th>
            <th> people </th>
        </tr>
        <% for (let country in pins) { %>
            <% for (let region1 in pins[country]) { %>
                <% for (let region2 in pins[country][region1]) { %>
                    <% for (let city in pins[country][region1][region2]) { %>
                        <% pins[country][region1][region2][city].forEach(pin => { %>
                            <tr class="pin" country="<%= country %>" region1="<%= region1 %>"
                                    region2="<%= region2 %>" city="<%= city %>">
                                <td>
                                    <% if (pin.pinType == 'source') { %>
                                        <%- include('../partials/linkToSource', {
                                            source: pin,
                                            showGroup: false,
                                        }) %>
                                    <% } else if (pin.pinType == 'event') { %>
                                        <a href="/event/<%= pin._id %>"><%= pin.title %></a>
                                    <% } else { %>
                                        <%= pin.title %>
                                    <% } %>
                                </td>
                                <td>
                                    <%- include('../format/date', { params: {
                                        date: pin.date,
                                    }}) %>
                                </td>
                                <td>
                                    <%- include('../format/location', { params: {
                                        location: pin.location,
                                    }}) %>
                                </td>
                                <td>
                                    <%- include('../partials/peopleList', { params: {
                                        people: pin.people,
                                        format: 'list',
                                    }}) %>
                                </td>
                            </tr>
                        <% });%>
                    <% } %>
                <% } %>
            <% } %>
        <% } %>
    </table>
</div>

<script>
    function showPlace(country, region1, region2, city) {
        let selector = '';

        if (country) {
            selector += '[country="' + country + '"]';
        }
        if (region1) {
            selector += '[region1="' + region1 + '"]';
        }
        if (region2) {
            selector += '[region2="' + region2 + '"]';
        }
        if (city) {
            selector += '[city="' + city + '"]';
        }

        if (selector) {
            $('.pin').hide();
            $('.pin').filter(selector).show();
        } else {
            $('.pin').show();
        }
    }
</script>
