<h2>Locations</h2>

<form id="new-map-place-form" method="post" action="/map/newPlace">
    <%- include('../forms/location', { includeNotes: false }) %>
    <br><input type="text" name="location-latitude" placeholder="latitude">
    <br><input type="text" name="location-longitude" placeholder="longitude">
    <br><input type="text" name="location-zoom" placeholder="zoom">
    <br>
    <button>add</button> <span class="clickable-link">cancel</span>
</form>

<div id="show-new-map-place-form" class="clickable-link">
    + add place
</div>

<table class="location-list">
    <tr>
        <th>country</th>
        <th>region1</th>
        <th>region2</th>
        <th>city</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>zoom</th>
        <th>items</th>
        <th>sub-items</th>
        <th></th>
    </tr>

    <% places.forEach(place => { %>
        <tr class="display-info" place-id="<%= place._id %>">
            <td><%= place.country %></td>
            <td><%= place.region1 %></td>
            <td><%= place.region2 %></td>
            <td><%= place.city %></td>
            <td><%= place.latitude %></td>
            <td><%= place.longitude %></td>
            <td><%= place.zoom %></td>
            <td>items</td>
            <td>sub-items</td>
            <td>
                <form class="delete-item" method="post" action="/map/<%= place._id %>/delete"
                        onsubmit="return confirmDeletion('map location')">
                    <button type="submit">delete</button>
                </form>
                <button class="edit-button" onClick="editPlace('<%= place._id %>')">edit</button>
            </td>
        </tr>
        <tr class="edit-info" place-id="<%= place._id %>">
            <form>
                <td>
                    <input type="text" name="country" value="<%= place.country %>">
                </td>
                <td>
                    <input type="text" name="region1" value="<%= place.region1 %>">
                </td>
                <td>
                    <input type="text" name="region2" value="<%= place.region2 %>">
                </td>
                <td>
                    <input type="text" name="city" value="<%= place.city %>">
                </td>
                <td>
                    <input type="text" name="latitude" value="<%= place.latitude %>" style="width: 50px">
                </td>
                <td>
                    <input type="text" name="longitude" value="<%= place.longitude %>" style="width: 50px">
                </td>
                <td>
                    <input type="text" name="zoom" value="<%= place.zoom %>" style="width: 20px">
                </td>
                <td></td>
                <td></td>
                <td>
                    <button type="submit">save</button>
                    <span class="clickable-link" onClick="cancelEdit()">cancel</span>
                </td>
            </form>
        </tr>
    <% }); %>
</table>

<script>
    function editPlace(placeId) {
        $('.location-list').find('.edit-button, .delete-item').hide();
        $('.display-info[place-id="' + placeId + '"]').hide();
        $('.edit-info[place-id="' + placeId + '"]').show();
    }

    function cancelEdit() {
        $('.location-list').find('.display-info, .edit-button, .delete-item').show();
        $('.location-list').find('.edit-info').hide();
    }

    $('#show-new-map-place-form').click(() => {
        $('#show-new-map-place-form').hide();
        $('#new-map-place-form').show();
    });

    $('#new-map-place-form span.clickable-link').click(() => {
        $('#show-new-map-place-form').show();
        $('#new-map-place-form').hide();
    });
</script>
