<h2>Locations</h2>

<form class="add-location" method="post" action="/map/newPlace">
    <%- include('../forms/location', { includeNotes: false }) %>
    <br><input type="text" name="location-latitude" placeholder="latitude">
    <br><input type="text" name="location-longitude" placeholder="longitude">
    <br><input type="text" name="location-zoom" placeholder="zoom">
    <br>
    <button>add</button>
</form>

<table class="location-list">
    <tr>
        <th>country</th>
        <th>region1</th>
        <th>region2</th>
        <th>city</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>zoom</th>
        <th>items</th>
        <th>sub-items</th>
    </tr>

    <% places.forEach(place => { %>
        <tr>
            <td><%= place.country %></td>
            <td><%= place.region1 %></td>
            <td><%= place.region2 %></td>
            <td><%= place.city %></td>
            <td><%= place.latitude %></td>
            <td><%= place.longitude %></td>
            <td><%= place.zoom %></td>
            <td>items</td>
            <td>sub-items</td>
        </tr>
    <% }); %>
</table>
