<p>
  <a href="/tags">tags</a>
</p>

<h1><%= tag%></h1>

<h2>definition</h2>

<% if (definition) { %>
  <% definition.text.split('\n').forEach(text => { %>
    <p id="show-notation">
      <%= text %>
    </p>
  <% }); %>
  <div id="edit-notation-form">
    <form method="post" action="/tag/updateDefinition">
      <input type="hidden" name="tag" value="<%= tag %>">
      <input type="hidden" name="notation" value="<%= definition._id %>">
      <textarea name="text" style="height: 100px; width: 300px;"
        ><%= definition.text %></textarea>
      <br><button>save</button>
      <span class="clickable-link" id="click-cancel-edit">cancel</span>
    </form>
  </div>
  <p>
    <span id="click-start-edit" class="clickable-link">edit</span>
    <span id="link-to-notation">
      <%- include('../partials/linkToNotation', {
        notation: definition,
        text: 'go to notation'
      }) %>
    </span>
  </p>
<% } else { %>
  <form method="post" action="/tag/newDefinition">
    <input type="hidden" name="tag" value="<%= tag %>">
    <textarea name="text" style="height: 100px; width: 300px;"></textarea>
    <br><button>create</button>
  </form>
<% } %>

<% if (data.people.length > 0) { %>
  <h2>people</h2>
  <ul class="bullet-list">
    <% data.people.forEach(person => { %>
      <%
        let personTagValue = (() => {
          for (let i in person.tags) {
            if (person.tags[i].match('=')
                && person.tags[i].split('=')[0].trim() == tag) {
              return person.tags[i].slice(person.tags[i].indexOf('=') + 1).trim();
            }
          }
        })();
        if (personTagValue) {
          personTagValue = '(' + personTagValue + ')';
        }
      %>
      <li>
        <%- include('../partials/linkToPerson', {person}) %>
        <%= personTagValue %>
      </li>
    <% }); %>
  </ul>
<% } %>

<% if (data.stories.length > 0) { %>
  <h2>stories</h2>
  <ul class="bullet-list">
    <% data.stories.forEach(story => { %>
      <li>
        <%- include('../partials/linkToStory', {story}) %>
        (<%= story.type %>)
      </li>
    <% }); %>
  </ul>
<% } %>

<% if (data.sources.length > 0) { %>
  <h2>sources</h2>
  <ul class="bullet-list">
    <% data.sources.forEach(source => { %>
      <li>
        <%- include('../partials/linkToSource', {showStory: true, source}) %>
      </li>
    <% }); %>
  </ul>
<% } %>

<% if (data.events.length > 0) { %>
  <h2>events</h2>
  <ul class="bullet-list">
    <% data.events.forEach(event => { %>
      <li>
        <a href="/event/<%= event._id %>"><%= event.title %></a>
      </li>
    <% }); %>
  </ul>
<% } %>

<% if (data.notations.length > 0) { %>
  <h2>notations</h2>
  <ul class="bullet-list">
    <% data.notations.forEach(notation => { %>
      <li>
        <%- include('../partials/linkToNotation', {notation}) %>
      </li>
    <% }); %>
  </ul>
<% } %>

<style>
  #edit-notation-form {
    display: none;
  }
</style>

<script>
  $('#click-start-edit').click(() => {
    $('#show-notation, #click-start-edit, #link-to-notation').hide();
    $('#edit-notation-form').show();
  });
  $('#click-cancel-edit').click(() => {
    $('#show-notation, #click-start-edit, #link-to-notation').show();
    $('#edit-notation-form').hide();
  });
</script>
