<%
  const rootPath = '/source/' + source._id;
  const rootEditPath = '/source/' + source._id + '/edit';
%>

<table class="edit-form-frame">

  <!-- SHARING -->

  <%- include('../forms/tableRowSingle', {
    attr: 'sharing',
    editPath: rootEditPath + '/sharing',
    originalValue: source.sharing,
    toggle: true,
    preventSharing: source.story && !source.story.sharing,
  }) %>

  <!-- TYPE -->

  <%- include('../forms/tableRowSingle', {
    attr: 'type',
    editPath: rootEditPath + '/type',
    originalValue: source.type,
  }) %>

  <!-- GROUP -->

  <%- include('../forms/tableRowSingle', {
    attr: 'group',
    editPath: rootEditPath + '/group',
    originalValue: source.group,
  }) %>

  <!-- STORY -->

  <%- include('../forms/tableRowSingle', {
    attr: 'story',
    editPath: rootEditPath + '/story',
    originalValue: source.story,
  }) %>

  <!-- TITLE -->

  <%- include('../forms/tableRowSingle', {
    attr: 'title',
    editPath: rootEditPath + '/title',
    originalValue: source.title,
  }) %>

  <!-- DATE -->

  <%- include('../forms/tableRowSingle', {
    attr: 'date',
    editPath: rootEditPath + '/date',
    originalValue: source.date,
  }) %>

  <!-- LOCATION -->

  <%- include('../forms/tableRowSingle', {
    attr: 'location',
    editPath: rootEditPath + '/location',
    originalValue: source.location,
  }) %>

  <!-- PEOPLE -->

  <%- include('../forms/tableRowMulti', {
    attr: 'people',
    rootPath: rootPath,
    values: source.people,
  }) %>

  <!-- LINKS -->

  <%- include('../forms/tableRowMulti', {
    attr: 'links',
    rootPath: rootPath,
    values: source.links,
  }) %>

  <!-- IMAGES -->

  <%- include('../forms/tableRowMulti', {
    attr: 'images',
    rootPath: rootPath,
    values: source.images,
  }) %>

  <!-- IMAGES -->

  <%- include('../forms/tableRowMulti', {
    attr: 'tags',
    rootPath: rootPath,
    values: source.tags,
  }) %>

  <!-- NOTES -->

  <%- include('../forms/tableRowSingle', {
    attr: 'notes',
    editPath: rootEditPath + '/notes',
    originalValue: source.notes,
    fieldType: 'textarea',
  }) %>

  <!-- SUMMARY -->

  <%- include('../forms/tableRowSingle', {
    attr: 'summary',
    editPath: rootEditPath + '/summary',
    originalValue: source.summary,
    fieldType: 'textarea',
  }) %>
</table>

<div>
  <h2>Content</h2>

  <p>
    <span class="clickable-link main-link link-start"
      onClick="startEdit('content')">edit</span>
  </p>

  <div class="value-show" item="content">
    <%- include('../format/content', {
      content: source.content,
      limit: false,
    }) %>
  </div>

  <div class="value-edit" item="content">
    <form action="<%= rootEditPath %>/content" method="POST">
      <textarea name="content" class="content-textarea"><%= source.content %></textarea>
      <input type="hidden" value="PUT" name="_method">
      <button type="submit">save</button>
      <span class="clickable-link link-cancel"
        onClick="cancelEdit()" item="content">cancel</span>
    </form>
  </div>
</div>

<h2>Citations</h2>

<%- include('./citationForm', {
  rootPath: rootPath,
  rootEditPath: rootEditPath,
}) %>

<%- include('../partials/citationList', {
  citations: citations,
  showDelete: true,
  showSource: false,
  showPerson: true,
  rootPath: rootPath,
  groupBy: 'person',
}) %>

<script>
  initializeEditForm();
</script>
