<h2>Excerpts</h2>

<% notations.forEach(notation => { %>
  <div class="notation">
    <hr>
    <p>
      <a href="/notations/<%= notation._id %>"><%= notation.title %></a>
    </p>
    <p>
      <%= notation.text %>
    </p>
    <p>
      <i>Pinned to:</i>
    </p>
    <ul class="bullet-list">
      <% notation.people.forEach(person => { %>
        <li>
          <%- include('../partials/linkToPerson', { person }) %>
        </li>
      <% }); %>
      <% notation.stories.forEach(story => { %>
        <li>
          <%- include('../partials/linkToStory', { story }) %>
        </li>
      <% }); %>
    </ul>
  </div>
<% }); %>

<style>
  hr {
    margin: 20px 0;
  }
  .notation p {
    margin-top: 10px;
  }
  .notation li {
    margin-top: 5px;
  }
</style>
