<%
  const rootPath = '/sources';
  const newSourcePath = rootPath + '/new';
  const showAllTypes = subView == 'none' || subView == 'new';

  const showTableType = showAllTypes;
  const showTableStory = subView != 'photos';
  const showTableDate = subView != 'graves';
  const headerRowTitles = [];

  if (showTableType) {
    headerRowTitles.push('type');
  }

  if (showTableStory) {
    if (subView == 'graves') {
      headerRowTitles.push('cemetery');
    } else if (subView == 'newspapers') {
      headerRowTitles.push('paper');
    } else {
      headerRowTitles.push('story');
    }
  }

  headerRowTitles.push(title);

  if (showTableDate) {
    headerRowTitles.push('date');
  }

  headerRowTitles.push('location');
  headerRowTitles.push('sharing');
%>

<h1>Sources</h1>

<% if (showNew) { %>
  <%- include('../forms/newSource', {
    actionPath: newSourcePath,
    cancelPath: rootPath,
  }) %>
<% } else { %>
  <p>
    <a href="/sources/new" class="main-link">+ New Source</a>
  </p>
<% } %>

<ul class="bullet-list">
  <li>
    <a href="/sources">all</a>
  </li>
  <% mainSourceTypes.forEach(sourceType => { %>
    <%
      let sourceTypeText = sourceType;

      if (sourceType == 'index') {
        sourceTypeText = 'web index';
      }
    %>
    <li>
      <a href="/sources/<%= sourceType %>"><%= sourceTypeText %></a>
    </li>
  <% }); %>
</ul>

<% if (!showAllTypes) { %>
  <h2><%= subView %></h2>
<% } %>

<table class="info-table">
  <tr>
    <% headerRowTitles.forEach(str => { %>
      <th><%= str %></th>
    <% }); %>
  </tr>

  <% sources.forEach(source => { %>
    <tr>
      <% if (showTableType) { %>
        <td>
          <%= source.type %>
        </td>
      <% } %>

      <% if (showTableStory) { %>
        <td>
          <% if (source.story) { %>
            <%- include('../partials/linkToStory', {
              story: source.story,
            }) %><br>
          <% } %>
        </td>
      <% } %>

      <td>
        <%- include('../partials/linkToSource', {
          source: source,
          showGroup: false,
        }) %>
      </td>

      <% if (showTableDate) { %>
        <td>
          <%- include('../format/date', { params: {
            date: source.date,
          }}) %>
        </td>
      <% } %>

      <td>
        <%- include('../format/location', { params: {
          location: source.location,
        }}) %>
      </td>

      <td>
        <img class="checkmark-inline" src="/images/check-<%= source.sharing %>.png">
        <% if (source.sharing && source.story && !source.story.sharing) { %>
          <span style="color: red">WARNING: story not shared</span>
        <% } %>
      </td>
    </tr>
  <% }); %>
</table>
