<%
  const rootPath = '/source/' + source._id;
%>

<div class="column">
  <img src="/images/source-document.ico" class="profile-picture">
</div>

<div class="column">
  <p>
    <%- include('../partials/linkToStory', { story: source.story }) %>
    - <%= source.story.type %>
  </p>

  <h1>
    <%= source.title %>
  </h1>

  <% if (subview == 'edit') { %>
    <p>
      <a href="<%= rootPath %>" class="main-link">done</a>
    </p>
  <% } else if (subview == 'fastCitations') { %>
    <p>
      <a href="<%= rootPath %>" class="main-link">done</a>
      <a href="<%= rootPath %>/edit" class="main-link">back to edit</a>
    </p>
  <% } else { %>
    <p>
      <a href="<%= rootPath %>/" class="main-link">show</a>
      <a href="<%= rootPath %>/edit" class="main-link">edit</a>
      <a href="<%= rootPath %>/excerpts" class="main-link">excerpts</a>
    </p>
  <% } %>
</div>

<%- include('./' + subview) %>
