<%
%>

<h1>Stories</h1>

<p>
  <span class="clickable-link main-link">+ New Story</span>
</p>

<table class="info-table">
  <tr>
    <th>type</th>
    <th>group</th>
    <th>title</th>
    <th>date</th>
    <th>location</th>
    <th>notes</th>
    <th>sharing</th>
  </tr>

  <% stories.forEach(story => { %>
    <%
      const storyNotes = (story.notes || '').length ? story.notes.split('\n') : [];
    %>

    <tr>
      <td>
        <%= story.type %>
      </td>
      <td>
        <%= story.group %>
      </td>
      <td>
        <%- include('../partials/linkToStory', { story: story }) %>
      </td>
      <td>
        <%- include('../format/date', { params: {
          date: story.date,
        }}) %>
      </td>
      <td>
        <%- include('../format/location', { params: {
          location: story.location,
        }}) %>
      </td>
      <td>
        <% storyNotes.forEach(str => { %>
          <p><%= str %></p>
        <% }); %>
      </td>
      <td>
        <img class="checkmark-inline" src="/images/check-<%= story.sharing %>.png">
      </td>
    </tr>
  <% }); %>
</table>
