<table id="highlights-list" class="nice-table">
  <tr>
    <th>instance</th>
    <th>character index</th>
    <th>actual text</th>
    <th>link type</th>
    <th>object</th>
    <th>delete</th>
  </tr>
  <% highlights.forEach(highlight => { %>
    <tr>
      <td>
        <%= highlight.instance %>
      </td>
      <td>
        <%= highlight.characterIndex %>
        <% if (highlight.overlap) { %>
          <span class="error">ERROR: OVERLAP</span>
        <% } %>
      </td>
      <td>
        <%= highlight.actualText %>
        <% if (highlight.notFound) { %>
          <span class="error">TEXT NOT FOUND</span>
        <% } %>
      </td>
      <% if (highlight.linkPerson) { %>
        <td>
          person
        </td>
        <td>
          <%= highlight.linkPerson.name %>
        </td>
      <% } else { %>
        <td>
          <i>(none)</i>
        </td>
        <td></td>
      <% } %>
      <td>
        <form
          action="/highlight/<%= highlight._id %>/delete"
          method="post"
          onsubmit="return confirmDeletion('highlight')"
        >
          <button>delete</button>
        </form>
      </td>
      <% if (highlight.errors) { %>
        <td class="error">
          <%= highlight.join(' / ') %>
        </td>
      <% } %>
    </tr>
  <% }); %>
</table>
