<%
  const textList = notation.text ? notation.text.split('\n') : [];

  const siteLinks = [];

  if (notation.tags.includes('brick wall')
      || notation.tags.includes('broken brick wall')) {
    siteLinks.push(['topic/brickwalls', 'topic: brick walls']);
  }

  if (notation.title == 'profile summary'
      || notation.tags.includes('profile summary')) {
    notation.people.forEach(person => {
      siteLinks.push(['person/' + person.customId, person.name
        + ' profile (summary)']);
    });
  }

  if (notation.tags.includes('research notes')) {
    notation.people.forEach(person => {
      siteLinks.push(['person/' + person.customId, person.name
        + ' profile (research notes section)']);
    });
  }
%>

<h1>Notation</h1>
<h2><%= notation.title %></h2>

<p>
  <a href="/notation/<%= notation._id %>/edit">edit</a>
</p>

<h2>sharing</h2>

<p>
  <% if (notation.sharing) { %>
    <img class="checkmark-inline" src="/images/check-true.png"> yes
  <% } else { %>
    <img class="checkmark-inline" src="/images/check-false.png"> no
  <% } %>
</p>

<h2>people</h2>

<%- include('../people/peopleList', {
  people: notation.people,
  format: 'bullet',
}) %>

<h2>text</h2>

<% textList.forEach(text => { %>
  <p>
    <%= text %>
  </p>
<% }); %>

<h2>tags</h2>

<% if (notation.tags.length) { %>
  <ul class="bullet-list">
    <% notation.tags.forEach(text => { %>
      <li><%= text %></li>
    <% }); %>
  </ul>
<% } %>

<h1>Appearances</h1>

<% siteLinks.forEach(([url, text]) => { %>
  <p>
    <a href="http://localhost:8000/?<%= url %>" target="_blank"><%= text %></a>
  </p>
<% }); %>
