<%
  const options = {
    showErrors: true,
  };

  const person = findPersonInList(people, locals.person);

  const childrenListed = [];

  const safety = (locals.safety || 0) + 1;

  if (safety > 15) {
    throw `[ERROR] descendants chart reached ${safety} layers`;
  }

  const children = person.children.map(childId => findPersonInList(people, childId));

  const personMaidenName = person.name.match('\\[')
    ? person.name.slice(0, person.name.indexOf('['))
    : person.name;

  const personMarriageEvents = marriageEvents.filter(event => {
    return findPersonInList(event.people, person);
  });

  const numChildrenTagValue = person.getTagValue('number of children');
%>

<p class="person-item">
  <b><%- include('../person/_link', {person, linkText: personMaidenName}) %></b>
  <span class="life-dates">(<%= getLifeDatesString(person) %>)</span>
  <% if (options.showErrors) { %>
    <% if (numChildrenTagValue !== 'done') { %>
      <span class="error">children?</span>
    <% } %>
    <% if (!person.getBirthYear()) { %>
      <span class="error">birth?</span>
    <% } %>
    <% if (!person.living && !person.getDeathYear()) { %>
      <span class="error">death?</span>
    <% } %>
  <% } %>
</p>

<% person.spouses.forEach(spouseId => { %>
  <%
    const spouse = findPersonInList(people, spouseId);
    const spouseChildren = children.filter((child, i) => {
      if (findPersonInList(child.parents, spouse)) {
        childrenListed.push(child);
        return true;
      }
      return false;
    });
    const marriageEvent = personMarriageEvents.find(event => {
      return findPersonInList(event.people, spouse);
    });
    const marriageEventFormat = formatEventDate(marriageEvent);
  %>
  <p class="person-item">
    + <%- include('../person/_link', {person: spouse}) %>
    <% if (options.showErrors) { %>
      <span class="life-dates">
        (<%= getLifeDatesString(spouse) %>;
        married <%= marriageEventFormat || 'when?' %>)
      </span>
      <% if (!spouse.getBirthYear()) { %>
        <span class="error">birth?</span>
      <% } %>
      <% if (!spouse.living && !spouse.getDeathYear()) { %>
        <span class="error">death?</span>
      <% } %>
      <% if (!marriageEventFormat) { %>
        <span class="error">marriage?</span>
      <% } %>
    <% } %>
  </p>
  <ul>
    <% spouseChildren.forEach(child => { %>
      <li>
        <%- include('./_desc', {person: child, safety}) %>
      </li>
    <% }); %>
  </ul>
<% }); %>

<%
  const additionalChildren = person.children.filter(child => {
    return !findPersonInList(childrenListed, child);
  });
%>

<% if (additionalChildren.length) { %>
  <p class="person-item">
    + unknown spouse
  </p>
  <ul>
    <% additionalChildren.forEach(child => { %>
      <li>
        <%- include('./_desc', {person: child, safety}) %>
      </li>
    <% }); %>
  </ul>
<% } %>
