<%
  // Settings will not be modified automatically. Change settings for desired display.
  const settings = {
    showErrors: true,
    showGeneration: false,
  };

  const person = findPersonInList(people, locals.person);

  const personInfo = person.getDescendantChartInfo({
    findPersonInList,
    marriageEvents,
    people,
    toDoList,
    formatEventDate,
  });

  // TO DO: use the "number of children" tag information to show "__ children"
  // when applicable.
%>

<p class="person-item">
  <b>
    <% if (settings.showGeneration) { %>
      [<%= generation %>]
    <% } %>
    <%- include('../person/_link', {
      person,
      linkText: personInfo.maidenName,
    }) %>
  </b>
  <span class="life-dates">(<%= getLifeDatesString(person) %>)</span>
  <% if (settings.showErrors && personInfo.errors.length) { %>
    <span class="error"><%= personInfo.errors.join(' ') %></span>
  <% } %>
</p>

<% personInfo.spouseList.forEach(spouseInfo => { %>
  <%
    const {
      spouse,
      spouseChildren,
      marriageEventsFormat,
      errorMessage,
    } = spouseInfo;

    const eventsList = [getLifeDatesString(spouse)];
    if (marriageEventsFormat) {
      eventsList.push(marriageEventsFormat);
    }
  %>
  <p class="person-item">
    + <%- include('../person/_link', {person: spouse}) %>
    <span class="life-dates">
      (<%= eventsList.join('; ') %>)
    </span>
    <% if (settings.showErrors && errorMessage) { %>
      <span class="error"><%= errorMessage %></span>
    <% } %>
  </p>
  <ul>
    <% if (generation === generationLimit) { %>
      <li>
        <b><%= spouseChildren.length %>
        <%= spouseChildren.length === 1 ? 'child' : 'children' %></b>
      </li>
    <% } else { %>
      <% spouseChildren.forEach(child => { %>
        <li>
          <%- include('./_desc', {
            person: child,
            toDoList,
            generation: generation + 1,
          }) %>
        </li>
      <% }); %>
    <% } %>
  </ul>
<% }); %>

<% if (personInfo.additionalChildren.length) { %>
  <p class="person-item">
    + unknown spouse
  </p>
  <ul>
    <% if (generation === generationLimit) { %>
      <li>
        <b><%= personInfo.additionalChildren.length %>
        <%= personInfo.additionalChildren.length === 1 ? 'child' : 'children' %></b>
      </li>
    <% } else { %>
      <% personInfo.additionalChildren.forEach(child => { %>
        <li>
          <%- include('./_desc', {
            person: child,
            toDoList,
            generation: generation + 1,
          }) %>
        </li>
      <% }); %>
    <% } %>
  </ul>
<% } %>
