<h2>Checklist</h2>

<% checklistSections.forEach(({title, items}) => { %>
  <h3><%= title %></h3>

  <div class="checklist">
    <% items.forEach(item => { %>
      <%
        const canStrike = item.strike || !!(item.strikeLiving && person.living);

        // Checked if item is complete OR if non-applicable, e.g. for a living
        // person or too-distant relative.
        const isChecked = !!item.complete || canStrike;

        // If item is actually complete, show it as complete instead of N/A.
        const showStrike = canStrike && !item.complete;
      %>
      <div class="checklist-item checklist-<%= isChecked %>">
        <div class="checkmark">
          <img src="/images/check-<%= isChecked %>.png">
        </div>
        <div class="info">
          <p>
            <% if (showStrike) { %>
              <b><strike><%= item.title %></strike></b>
              <% if (item.strikeLiving) { %>
                <i>(living)</i>
              <% } %>
            <% } else { %>
              <b><%= item.title %></b>
            <% } %>
            <% if (item.note) { %>
              <i>(<%= item.note %>)</i>
            <% } %>
          </p>
        </div>
      </div>
    <% }); %>
  </div>
<% }); %>

<% if (incompleteSourceList.length) { %>
  <h3>Incomplete Sources</h3>

  <div class="checklist">
    <% incompleteSourceList.forEach(([source, linkText, reason]) => { %>
      <div class="checklist-item checklist-false">
        <div class="checkmark">
          <img src="/images/check-false.png">
        </div>
        <div class="info">
          <p>
            <a href="/source/<%= source._id %>"><%= linkText %></a>
            - <%= reason %>
          </p>
        </div>
      </div>
    <% }); %>
  </div>
<% } %>
