<h2>Checklist</h2>

<% checklistSections.forEach(({title, items}) => { %>
  <h3><%= title %></h3>
  <%- include('./_checklistSection', {items}) %>
<% }); %>

<% if (incompleteSourceList.length) { %>
  <h3>Incomplete Sources</h3>

  <div class="checklist">
    <% incompleteSourceList.forEach(([source, linkText, reason]) => { %>
      <div class="checklist-item checklist-false">
        <div class="checkmark">
          <img src="/images/check-false.png">
        </div>
        <div class="info">
          <p>
            <a href="/source/<%= source._id %>"><%= linkText %></a>
            - <%= reason %>
          </p>
        </div>
      </div>
    <% }); %>
  </div>
<% } %>
