<%
  const rootPath = `/person/${paramPersonId}/sources`;

  const personSourcesSubnav = [
    ['', 'all'],
    ['grave'],
    ['census'],
    ['newspapers'],
    ['documents', 'other documents'],
    ['other'],
  ];
%>

<h2><%= locals.pageTitle %></h2>

<ul class="person-navigation">
  <% personSourcesSubnav.forEach(([path, text]) => { %>
    <li>
      <a href="<%= rootPath %>/<%= path %>"><%= text || path %></a>
    </li>
  <% }); %>
</ul>

<% if (locals.checklistItems) { %>
  <%- include('./_checklistSection', {items: checklistItems}) %>
<% } %>

<% locals.sourceItems.forEach(({groupTitle, source}) => { %>
  <% if (locals.showGroupTitles && groupTitle) { %>
    <h2><%= groupTitle %></h2>
  <% } %>

  <%- include('../source/_block', {
    source: source,
    showStory: true,
    showExcerpts: true,
    limitContent: true,
    citationParams: {
      citations: source.citations,
      showDelete: false,
      showSource: false,
      showPerson: false,
      groupBy: 'item',
    },
  }); %>
<% }); %>

<% if (locals.sourceItems.length === 0) { %>
  <p>
    No sources.
  </p>
<% } %>

<% if (locals.mentions && locals.mentions.length > 0) { %>
  <h2>other mentions</h2>
  <%- include('../highlight/_mentionList', {
    mentions: locals.mentions,
  }) %>
<% } %>
