<%
  const linksList = person.links;

  if (person.shareLevel == 2) {
    linksList.push('https://ancestry.annacpeterson.com/?person/' + person.customId
      + ' CustomSite');
  } else if (person.shareLevel == 1) {
    linksList.push('https://ancestry.annacpeterson.com/?person/' + person._id
      + ' CustomSite');
  }
%>

<h2>Sharing</h2>

<div>
  <% if (person.shareLevel == 2) { %>
    <img class="checkmark-inline" src="/images/check-true.png"> everything
  <% } else if (person.shareLevel == 1) { %>
    <img class="checkmark-inline" src="/images/check-false.png"> restricted
    <% if (person.shareName && person.shareName != person.name) { %>
      (name: "<%= person.shareName %>")
    <% } %>
  <% } else { %>
    <img class="checkmark-inline" src="/images/check-false.png"> none
  <% } %>
</div>

<% if (person.tags.length) { %>
  <h2>Tags</h2>
  <%- include('../tag/_list', {item: person}) %>
<% } %>

<h2>Family</h2>

<div>
  <% if (person.parents.length) { %>
    <div class="family-list-block">
      <h3>parents</h3>
      <%- include('../person/_list', {
        people: person.parents,
        format: 'bullet',
      }) %>
    </div>
  <% } %>

  <% if (person.siblings.length) { %>
    <div class="family-list-block">
      <h3>siblings</h3>
      <%- include('../person/_list', {
        people: person.siblings,
        format: 'bullet',
      }) %>
    </div>
  <% } %>
</div>

<div>
  <% if (person.spouses.length) { %>
    <div class="family-list-block">
      <h3>spouses</h3>
      <%- include('../person/_list', {
        people: person.spouses,
        format: 'bullet',
      }) %>
    </div>
  <% } %>

  <% if (person.children.length) { %>
    <div class="family-list-block">
      <h3>children</h3>
      <%- include('../person/_list', {
        people: person.children,
        format: 'bullet',
      }) %>
    </div>
  <% } %>
</div>

<% if (linksList.length) { %>
  <h2>Links</h2>
  <ul class="bullet-list">
    <% linksList.forEach(linkUrl => { %>
      <li>
        <%- include('../format/externalLink', { url: linkUrl }) %>
      </li>
    <% }); %>
  </ul>
<% } %>

<h2> Tree </h2>

<div class="scrollbox">
  <%- include('./_tree', {person, people}) %>
</div>

<h2> Timeline </h2>

<%- include('../event/_list', {events}) %>

<h2> Citations </h2>

<%- include('../citation/_list', {
  citations: citations,
  citationsByPerson: source.citationsByPerson,
  showDelete: false,
  showSource: true,
  showPerson: false,
  groupBy: 'item',
}) %>
