<h2>== Profiles ==</h2>

<% person.links.forEach(link => { %>
  <%
    let url, text;

    if (link.match(' FindAGrave')) {
      url = link.split(' ')[0];
      text = 'FindAGrave '
        + url.replace('https://www.findagrave.com/memorial/', '');
    } else if (link.match(' FamilySearch')) {
      url = link.split(' ')[0];
      text = 'FamilySearch '
        + url.replace('https://www.familysearch.org/tree/person/details/', '');
    }
  %>
  <% if (url) { %>
    <p>
      * <a href="<%= url %>" target="_blank">[<%= url %> <%= text %>]</a>
    </p>
  <% } %>
<% }); %>

<h2>== Sources ==</h2>

<p>
  &lt;references /&gt;
</p>

<% sources.forEach(source => { %>
  <p style="margin: 10px 0; max-width: 800px;">
    *
    <b>'''<%= source.story.title %>.'''</b>
    <% if (source.story.title.match('Census') && source.citeText.length < 2) { %>
      <span style="color: red;">(missing)</span>
    <% } %>
    <%= source.citeText.join(' ') %>
    <%
      let ancestryLink = source.links.find(url => url.match('Ancestry'));
      let familysearchLink = source.links.find(url => url.match('FamilySearch'));
      if (ancestryLink) {
        ancestryLink = ancestryLink.split(' ')[0];
      }
      if (familysearchLink) {
        familysearchLink = familysearchLink.split(' ')[0];
      }
    %>
    <% if (ancestryLink && familysearchLink) { %>
      ([<a href="<%= ancestryLink %>" target="_blank"><%= ancestryLink %> Ancestry.com</a>],
      [<a href="<%= familysearchLink %>" target="_blank"><%= familysearchLink %> FamilySearch.org</a>])
    <% } else if (ancestryLink) { %>
      ([<a href="<%= ancestryLink %>" target="_blank"><%= ancestryLink %> Ancestry.com</a>])
    <% } else if (familysearchLink) { %>
      ([<a href="<%= familysearchLink %>" target="_blank"><%= familysearchLink %> FamilySearch.org</a>])
    <% } %>
  </p>
<% }); %>
