<h1>Checklist - profile summary</h1>

<% if (peopleNeedSummary.length) { %>
  <h2>need profile summary</h2>
  <ul class="bullet-list">
    <% peopleNeedSummary.forEach(person => { %>
      <li>
        <%- include('../partials/linkToPerson', { person }) %>
      </li>
    <% }); %>
  </ul>
<% } %>

<h2>people with summary</h2>

<% peopleWithSummary.forEach(person => { %>
  <p class="person-header">
    <%- include('../partials/linkToPerson', { person }) %>
  </p>
  <% person.notations.forEach(notation => { %>
    <p class="person-text">
      <%= notation.text %>
      <% if (notation.also.length) { %>
        <i>(<b>also used for:</b> <%= notation.also.join(', ') %>)</i>
      <% } %>
    </p>
  <% }); %>
<% }); %>

<h2>people with biography</h2>

<% peopleWithBiography.forEach(person => { %>
  <p class="person-header">
    <%- include('../partials/linkToPerson', { person }) %>
  </p>
  <% person.biographies.forEach(source => { %>
    <%
      let text = source.content;
      if (text.length > 300) {
        text = text.slice(0, 300) + '...';
      }
    %>
    <p class="person-text">
      <%= text %>
    </p>
  <% }); %>
<% }); %>

<h2>people without summary - shared</h2>

<ul class="bullet-list">
  <% peopleWithoutSummaryShared.forEach(person => { %>
    <li>
      <%- include('../partials/linkToPerson', { person }) %>
    </li>
  <% }); %>
</ul>

<h2>people without summary - not shared</h2>

<ul class="bullet-list">
  <% peopleWithoutSummaryNotShared.forEach(person => { %>
    <li>
      <%- include('../partials/linkToPerson', { person }) %>
    </li>
  <% }); %>
</ul>

<style>
  .bullet-list li {
    display: inline-block;
    width: 350px;
  }
  p.person-header {
    margin-top: 15px;
  }
  p.person-text {
    margin-top: 10px;
  }
</style>
