<%
  let birthMissing = 0, deathMissing = 0;
%>

<style>
  td.center {
    text-align: center;
  }
</style>

<h1>Checklist - vitals</h1>

<div>
  Total people: <b><%= people.length %></b>
  <br>
  Birth events missing: <b><span id="birth-event-result"></span></b>
  <br>
  Death events missing: <b><span id="death-event-result"></span></b>
</div>

<table border="1" style="margin-top: 15px;">
  <tr>
    <th>name</th>
    <th>birth</th>
    <th>death</th>
    <th>connection</th>
    <th>degree</th>
    <th>sharing</th>
  </tr>
  <% people.forEach(person => { %>
    <tr>
      <td>
        <%- include('../person/_link', {person}) %>
      </td>
      <td class="center">
        <% if (person.birth) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else { %>
          <% birthMissing += 1; %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
      </td>
      <td class="center">
        <% if (person.death) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else if (person.isLiving()) { %>
          -
        <% } else { %>
          <% deathMissing += 1; %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
      </td>
      <td class="center">
        <%= person.connection %>
      </td>
      <td class="center">
        <%= person.degree %>
      </td>
      <td class="center">
        <% if (person.sharing.level == 2) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else if (person.sharing.level == 1) { %>
          restricted
        <% } else { %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
      </td>
    </tr>
  <% }); %>
</table>

<script>
  $('#birth-event-result').text('<%= birthMissing %>');
  $('#death-event-result').text('<%= deathMissing %>');
</script>

<style>
  th, td {
    padding: 5px;
  }
</style>
