<h1>Checklist - vitals</h1>

<div>
  Total people: <b><%= people.length %></b>
  <br>
  Birth events missing: <b><%= countBirthMissing %></b>
  <br>
  Death events missing: <b><%= countDeathMissing %></b>
</div>

<table class="nice-table" style="margin-top: 20px">
  <tr>
    <th>name</th>
    <th>birth</th>
    <th>death</th>
    <th>connection</th>
    <th>degree</th>
    <th>sharing</th>
    <th>children</th>
  </tr>
  <% people.forEach(person => { %>
    <tr>
      <td>
        <%- include('../person/_link', {person}) %>
      </td>
      <td class="center">
        <% if (person.birthComplete) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else { %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
      </td>
      <td class="center">
        <% if (person.deathComplete) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else if (person.living) { %>
          -
        <% } else { %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
      </td>
      <td class="center">
        <%= connectionTitle[person.connection] %>
      </td>
      <td class="center">
        <%= person.degree %>
      </td>
      <td class="center">
        <% if (person.shareLevel == 2) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else if (person.shareLevel == 1) { %>
          restricted
        <% } else { %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
      </td>
      <td class="center">
        <% if (person.showChildrenDone) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else if (person.showChildrenNotDone) { %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
        <%= person.childrenNote %>
      </td>
    </tr>
  <% }); %>
</table>
