<%
  let birthMissing = 0, deathMissing = 0;
%>

<h1>Checklist - vitals</h1>

<div>
  Total people: <b><%= people.length %></b>
  <br>
  Birth events missing: <b><span id="birth-event-result"></span></b>
  <br>
  Death events missing: <b><span id="death-event-result"></span></b>
</div>

<table class="nice-table" style="margin-top: 20px">
  <tr>
    <th>name</th>
    <th>birth</th>
    <th>death</th>
    <th>connection</th>
    <th>degree</th>
    <th>sharing</th>
    <th>children</th>
  </tr>
  <% people.forEach(person => { %>
    <%
      let showChildrenDone = false,
        showChildrenNotDone = false,
        childrenNote = '';
      const numberOfChildrenTag = person.getTagValue('number of children');

      if (!numberOfChildrenTag || numberOfChildrenTag === 'unknown') {
        showChildrenNotDone = true;
      } else if (numberOfChildrenTag === 'done') {
        showChildrenDone = true;
      } else if (numberOfChildrenTag === 'too distant') {
        childrenNote = '--';
      } else {
        childrenNote = person.children.length + '/' + numberOfChildrenTag;
      }
    %>
    <tr>
      <td>
        <%- include('../person/_link', {person}) %>
      </td>
      <td class="center">
        <% if (person.birth) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else { %>
          <% birthMissing += 1; %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
      </td>
      <td class="center">
        <% if (person.death) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else if (person.living) { %>
          -
        <% } else { %>
          <% deathMissing += 1; %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
      </td>
      <td class="center">
        <%= connectionTitle[person.connection] %>
      </td>
      <td class="center">
        <%= person.degree %>
      </td>
      <td class="center">
        <% if (person.shareLevel == 2) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else if (person.shareLevel == 1) { %>
          restricted
        <% } else { %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } %>
      </td>
      <td class="center">
        <% if (showChildrenDone) { %>
          <img class="checkmark-inline" src="/images/check-true.png">
        <% } else if (showChildrenNotDone) { %>
          <img class="checkmark-inline" src="/images/check-false.png">
        <% } else { %>
          <%= childrenNote %>
        <% } %>
      </td>
    </tr>
  <% }); %>
</table>

<script>
  $('#birth-event-result').text('<%= birthMissing %>');
  $('#death-event-result').text('<%= deathMissing %>');
</script>
