<%
    var monthNames = [
        'January', 'February', 'March', 'April',
        'May', 'June', 'July', 'August',
        'September', 'October', 'November', 'December'
    ];

    var yearValue = '';
    var monthValue = 0;
    var dayValue = 0;
    var displayValue = 0;

    if (date != null) {
        if (date.year) {
            yearValue = date.year;
        }
        monthValue = date.month;
        dayValue = date.day;
        displayValue = date.display;
    }
%>

<input type="number" name="date_year" placeholder="year" value="<%= yearValue %>">

<br>

<select name="date_month">
    <option value="0">month</option>
    <% for (var m = 1; m <= 12; m++) { %>
        <% if (m == monthValue) { %>
            <option value="<%= m %>" selected="selected"><%= monthNames[m - 1] %></option>
        <% } else { %>
            <option value="<%= m %>"><%= monthNames[m - 1] %></option>
        <% } %>
    <% } %>
</select>

<select name="date_day">
    <option value="0">day</option>
    <% for (var d = 1; d <= 31; d++) { %>
        <% if (d == dayValue) { %>
            <option value="<%= d %>" selected="selected"><%= d %></option>
        <% } else { %>
            <option value="<%= d %>"><%= d %></option>
        <% } %>
    <% } %>
</select>

<br>

<input type="text" name="date_display" placeholder="alternate display" value="<%= displayValue %>">
