
<%
    var attr = params.attr;
    var editPath = params.editPath;
    var originalValue = params.originalValue;
    var fieldType = params.fieldType || 'text';
%>

<tr>
    <td>
        <b><%= attr %></b>
    </td>

    <form action="<%= editPath %>" method="POST">
        <td>
            <!-- DISPLAY VALUE -->

            <div item="<%= attr %>" class="value-show">
                <% if (attr == 'notes') { %>
                    <%
                        var valueList = [];
                        if (originalValue != '') {
                            valueList = originalValue.split('\n');
                        }
                    %>
                    <ul class="bullet-list">
                        <% valueList.forEach(str => { %>
                            <li><%= str %></li>
                        <% }); %>
                    </ul>
                <% } else { %>
                    <%= originalValue %>
                <% } %>
            </div>

            <!-- EDITABLE FIELD -->

            <% if (fieldType == 'textarea') { %>
                <textarea item="<%= attr %>" class="value-edit" name="<%= attr %>"><%= originalValue %></textarea>
            <% } else { %>
                <input item="<%= attr %>" class="value-edit" type="text" value="<%= originalValue %>" name="<%= attr %>">
            <% } %>

            <!-- HIDDEN ORIGINAL VALUE -->

            <input item="<%= attr %>" class="value-original" type="hidden" value="<%= originalValue %>">
        </td>
        <td>
            <!-- SUBMIT EDIT -->

            <input type="hidden" value="PUT" name="_method">
            <button item="<%= attr %>" class="button-submit" type="submit">save</button>

            <!-- TOGGLE SHOW/EDIT -->

            <a item="<%= attr %>" class="link-start" onclick="startEdit('<%= attr %>')">edit</a>
            <a item="<%= attr %>" class="link-cancel" onclick="cancelEdit()">cancel</a>
        </td>
    </form>

    <td>
    </td>
</tr>
