
<%
    var attr = params.attr;
    var editPath = params.editPath;
    var originalValue = params.originalValue;
%>

<tr>
    <td>
        <b><%= attr %></b>
    </td>

    <form action="<%= editPath %>" method="POST">
        <td>
            <span item="<%= attr %>" class="value-show"><%= originalValue %></span>
            <input item="<%= attr %>" class="value-original" type="hidden" value="<%= originalValue %>">
            <input item="<%= attr %>" class="value-edit" type="text" value="<%= originalValue %>" name="<%= attr %>">
        </td>
        <td>
            <input type="hidden" value="PUT" name="_method">
            <button item="<%= attr %>" class="button-submit" type="submit">save</button>
            <a item="<%= attr %>" class="link-start" onclick="startEdit('<%= attr %>')">edit</a>
            <a item="<%= attr %>" class="link-cancel" onclick="cancelEdit()">cancel</a>
        </td>
    </form>

    <td>
    </td>
</tr>
