<%
    var links = params.links;
    var rootPath = params.rootPath;
    var editActive = params.editActive;
    var editAvailable = params.editAvailable;

    var addLinkPath = rootPath + '/add/links';
    var deleteLinkPath = rootPath + '/delete/links';
    var reorderLinkPath = rootPath + '/reorder/links';

    var numberOfLinks = links.length;
    var extraRows = 0;

    if (editAvailable || editActive) {
        extraRows += 1;
    }

    // editType options: hidden, available, active
%>

<% for (var i = 0; i < numberOfLinks + extraRows; i++) { %>
    <tr>
        <td>
            <% if (i == 0) { %>
                <b>links</b>
            <% } %>
        </td>
        <% if (i < numberOfLinks) { %>
            <td>
                <%- include('../format/externalLink', { url: links[i] }) %>
            </td>
            <% if (editAvailable) { %>
                <td>
                    <form action="<%= deleteLinkPath %>/<%= i %>" method="POST"
                            onsubmit="return confirmDeletion('link')">
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">delete</button>
                    </form>
                </td>
                <td>
                    <% if (i > 0) { %>
                        <form action="<%= reorderLinkPath %>/<%= i %>" method="POST">
                            <input type="hidden" value="PUT" name="_method">
                            <button type="submit">reorder up</button>
                        </form>
                    <% } %>
                </td>
            <% } else { %>
                <td></td>
            <% } %>
        <% } else { %>
            <form action="<%= addLinkPath %>" method="POST">
                <td>
                    <% if (editAvailable) { %>
                        <a href="<%= addLinkPath %>">add</a>
                    <% } else if (editActive) { %>
                        <input type="text" value="" name="links">
                    <% } %>
                </td>
                <td>
                    <% if (editActive) { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootPath %>/edit">cancel</a>
                    <% } %>
                </td>
                <% if (editAvailable) { %>
                    <td></td>
                <% } %>
            </form>
        <% } %>
    </tr>
<% } %>
