<%
    var links = params.links;
    var rootPath = params.rootPath;
    var addLinkPath = params.addLinkPath;
    var deleteLinkPath = params.deleteLinkPath;
    var editActive = params.editActive;
    var editAvailable = params.editAvailable;

    var numberOfLinks = links.length;
    var extraRows = 0;

    if (editAvailable || editActive) {
        extraRows += 1;
    }

    // editType options: hidden, available, active
%>

<% for (var i = 0; i < numberOfLinks + extraRows; i++) { %>
    <tr>
        <td>
            <% if (i == 0) { %>
                <b>links</b>
            <% } %>
        </td>
        <% if (i < numberOfLinks) { %>
            <form action="<%= deleteLinkPath %>/<%= i %>" method="POST">
                <td>
                    <%- include('../format/externalLink', { url: links[i] }) %>
                </td>
                <% if (editAvailable) { %>
                    <td>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">delete</button>
                    </td>
                <% } %>
                <td></td>
            </form>
        <% } else { %>
            <form action="<%= addLinkPath %>" method="POST">
                <td>
                    <% if (editAvailable) { %>
                        <a href="<%= addLinkPath %>">add</a>
                    <% } else if (editActive) { %>
                        <input type="text" value="" name="links">
                    <% } %>
                </td>
                <td>
                    <% if (editActive) { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">save</button>
                        <a href="<%= rootPath %>">cancel</a>
                    <% } %>
                </td>
                <% if (editAvailable) { %>
                    <td></td>
                <% } %>
            </form>
        <% } %>
    </tr>
<% } %>
