<form method="POST" action="<%= actionPath %>">
  <table>
    <tr>
      <td>
        <b>type</b>
      </td>
      <td>
        <select name="type">
          <option value="">type</option>
          <option value="article">article</option>
          <option value="book">book</option>
          <option value="document">document</option>
          <option value="grave">grave</option>
          <option value="index">index</option>
          <option value="newspaper">newspaper</option>
          <option value="photo">photo</option>
          <option value="other">other</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <b>group</b>
      </td>
      <td>
        <input type="text" name="group">
      </td>
    </tr>
    <tr>
      <td>
        <b>story</b>
      </td>
      <td>
        <%- include('./storyDropdown', {
          fieldName: 'story',
        }) %>
      </td>
    </tr>
    <tr>
      <td>
        <b>title</b>
      </td>
      <td>
        <input type="text" name="title">
      </td>
    </tr>
    <tr>
      <td>
        <b>date</b>
      </td>
      <td>
        <%- include('../forms/date', { date: null }) %>
      </td>
    </tr>
    <tr>
      <td>
        <b>location</b>
      </td>
      <td>
        <%- include('../forms/location', { location: null }) %>
      </td>
    </tr>
  </table>
  <p>
    <button type="submit">create</button>
  </p>
</form>

<p>
  <a href="<%= cancelPath %>">cancel</a>
</p>
