<form method="POST" action="<%= actionPath %>" id="new-source-form">
  <table>
    <tr>
      <td>
        <b>type</b>
      </td>
      <td>
        <select name="type" onChange="toggleNewSourceType()">
          <option value=""></option>
          <option value="article">article</option>
          <option value="book">book</option>
          <option value="document">document</option>
          <option value="grave">grave</option>
          <option value="index">index</option>
          <option value="newspaper">newspaper</option>
          <option value="photo">photo</option>
          <option value="other">other</option>
        </select>
      </td>
    </tr>
    <tr attr="group" style="display: none">
      <td>
        <b>group</b>
      </td>
      <td>
        <input type="text" name="group">
      </td>
    </tr>
    <tr attr="story" style="display: none" class="always-allow">
      <td>
        <b>story</b>
      </td>
      <td>
        <%- include('./storyDropdown', {
          fieldName: 'story',
        }) %>
      </td>
    </tr>
    <tr attr="title" style="display: none" class="always-allow">
      <td>
        <b>title</b>
      </td>
      <td>
        <input type="text" name="title">
      </td>
    </tr>
    <tr attr="date" style="display: none">
      <td>
        <b>date</b>
      </td>
      <td>
        <%- include('../forms/date', { date: null }) %>
      </td>
    </tr>
    <tr attr="location" style="display: none">
      <td>
        <b>location</b>
      </td>
      <td>
        <%- include('../forms/location', { location: null }) %>
      </td>
    </tr>
  </table>
  <p>
    <button type="submit">create</button>
  </p>
</form>

<p>
  <a href="<%= cancelPath %>">cancel</a>
</p>

<script>
  const $story = $('#new-source-form select[name="story"]');

  const $storiesOther = $story.find('option')
    .not('[story-type="book"], [story-type="cemetery"], [story-type="newspaper"]');

  function toggleNewSourceType() {
    const type = $('#new-source-form [name="type"]').val();

    const allowGroup = !['', 'book', 'grave', 'newspaper'].includes(type);
    const allowDate = !['', 'grave'].includes(type);
    const allowLocation = !['', 'grave', 'newspaper'].includes(type);

    $('#new-source-form tr.always-allow').toggle(type != '');
    $('#new-source-form tr[attr="group"]').toggle(allowGroup);
    $('#new-source-form tr[attr="date"]').toggle(allowDate);
    $('#new-source-form tr[attr="location"]').toggle(allowLocation);

    $story.find('[story-type="book"]').toggle(type == 'book');
    $story.find('[story-type="cemetery"]').toggle(type == 'grave');
    $story.find('[story-type="newspaper"]').toggle(type == 'newspaper');

    $storiesOther.toggle(!['book', 'grave', 'newspaper'].includes(type));
  }
</script>
