<%
    var rootPath = '/person/' + (person.customId || person._id);

    var numberOfRelatives = 0;
    if (person[relationship] != null) {
        numberOfRelatives = person[relationship].length;
    }

    var extraRows = 0;

    if (numberOfRelatives == 0 || editView == 'none' || editView == relationship) {
        extraRows = 1;
    }

    var addRelativePath = rootPath + '/edit/' + relationship;
    var deleteRelativePath = rootPath + '/delete/' + relationship;
%>

<% for (var p = 0; p < numberOfRelatives + extraRows; p++) { %>
    <tr>
        <td>
            <% if (p == 0) { %>
                <b><%= relationship %></b>
            <% } %>
        </td>
        <% if (p < numberOfRelatives) { %>
            <% let thisRelative = person[relationship][p]; %>
            <form action="<%= deleteRelativePath %>/<%= thisRelative.id %>" method="POST">
                <td>
                    <%- include('../partials/linkToPerson', {person: thisRelative}) %>
                </td>
                <td>
                    <% if (editView == 'none') { %>
                        <input type="hidden" value="PUT" name="_method">
                        <button type="submit">delete</button>
                    <% } %>
                </td>
            </form>
        <% } else if (editView == 'none') { %>
            <td>
                <a href="<%= addRelativePath %>">add</a>
            </td>
            <td>
            </td>
        <% } else if (editView == relationship) { %>
            <form action="<%= addRelativePath %>" method="POST">
                <td>
                    <%- include('../forms/personDropdown', {name: relationship, selected: null}) %>
                </td>
                <td>
                    <input type="hidden" value="PUT" name="_method">
                    <button type="submit">save</button>
                    <a href="<%= rootPath %>/edit">cancel</a>
                </td>
            </form>
        <% } else { %>
            <td>
            </td>
            <td>
            </td>
        <% } %>
    </tr>
<% } %>
