<%
  const selectedId = selectedPerson ? ('' + (selectedPerson._id || selectedPerson)) : null;
%>

<select name="<%= fieldName %>">
  <option value="0">
    -- Select --
  </option>
  <% people.forEach(person => { %>
    <% if (selectedId == '' + person._id) { %>
      <option value="<%= person.id %>" selected="selected">
        <%= person.name %>
      </option>
    <% } else { %>
      <option value="<%= person.id %>">
        <%= person.name %>
      </option>
    <% } %>
  <% }); %>
</select>
