<%
  const selectedId = locals.selectedStory ? ('' + (selectedStory._id || selectedStory)) : null;
%>

<select name="<%= fieldName %>">
  <option value="0">
    -- Select --
  </option>
  <% stories.forEach(story => { %>
    <% if (selectedId == '' + story._id) { %>
      <option value="<%= story.id %>" selected="selected">
        <%= story.title %>
      </option>
    <% } else { %>
      <option value="<%= story.id %>">
        <%= story.title %>
      </option>
    <% } %>
  <% }); %>
</select>
