<%
  const dataType = locals.dataType || attr;
  const addItemPath = rootPath + '/add/' + attr;

  let peopleDropdownList = [];

  if (dataType == 'people') {
    const peopleIds = values.map(person => '' + person._id);
    peopleDropdownList = people.filter(person => {
      return !peopleIds.includes('' + person._id);
    });
  }
%>

<% values.forEach((thisItem, i) => { %>
  <%
    const itemId = thisItem._id || i;
    const deleteItemPath = rootPath + '/delete/' + attr + '/' + itemId;
    const reorderItemPath = rootPath + '/reorder/' + attr + '/' + itemId;
  %>

  <tr>
    <td>
      <% if (i == 0) { %>
        <b><%= attr %></b>
      <% } %>
    </td>

    <!-- DISPLAY VALUE -->

    <td>
      <% if (dataType == 'links') { %>
        <%- include('../format/externalLink', { url: thisItem }) %>
      <% } else if (dataType == 'images') { %>
        <a href="<%= thisItem %>" target="_blank"><img src="<%= thisItem %>" height="100"></a>
      <% } else if (dataType == 'people') { %>
        <%- include('../partials/linkToPerson', {
          person: thisItem
        }) %>
      <% } else if (dataType == 'stories') { %>
        <%- include('../partials/linkToStory', { story: thisItem }) %>
      <% } else { %>
        <%= thisItem %>
      <% } %>
    </td>

    <!-- DELETE -->

    <td>
      <form action="<%= deleteItemPath %>" method="POST"
          onsubmit="return confirmDeletion('<%= attr %>')">
        <input type="hidden" value="PUT" name="_method">
        <button type="submit" class="button-delete">delete</button>
      </form>
    </td>

    <!-- REORDER UP -->

    <td>
      <% if (i > 0) { %>
        <form action="<%= reorderItemPath %>" method="POST">
          <input type="hidden" value="PUT" name="_method">
          <button type="submit" class="button-reorder">reorder up</button>
        </form>
      <% } %>
    </td>
  </tr>
<% }); %>

<!-- ADD ANOTHER -->

<tr>
  <td>
    <% if (values.length == 0) { %>
      <b><%= attr %></b>
    <% } %>
  </td>

  <form action="<%= addItemPath %>" method="POST">
    <td>
      <!-- START ADDING -->

      <a class="link-start" onclick="startEdit('<%= attr %>')">add</a>
      &#160;

      <!-- NEW VALUE -->

      <% if (dataType == 'people') { %>
        <div item="<%= attr %>" class="value-new">
          <%- include('./personDropdown', {
            fieldName: attr,
            selectedPerson: null,
            people: peopleDropdownList,
          }) %>
        </div>
      <% } else if (dataType == 'stories') { %>
        <div item="<%= attr %>" class="value-new">
          <%- include('./storyDropdown', {
            fieldName: 'stories',
          }) %>
        </div>
      <% } else { %>
        <input item="<%= attr %>" class="value-new" type="text" value="" name="<%= attr %>">
      <% } %>
    </td>

    <!-- SUBMIT NEW ITEM -->
    <td>
      <input type="hidden" value="PUT" name="_method">
      <button item="<%= attr %>" class="button-submit" type="submit">save</button>
      &#160;
    </td>
  </form>

  <!-- CANCEL NEW ITEM -->
  <td>
    <a item="<%= attr %>" class="link-cancel" onclick="cancelEdit()">cancel</a>
    &#160;
  </td>
</tr>
