<% subRows.forEach((rowInfo, index) => { %>
  <%
    const {
      itemPaths,
      itemKey,
      objectInList,
      editData,
      tagValue,
    } = rowInfo;
  %>
  <tr>
    <td>
      <% if (index == 0) { %>
        <b><%= fieldName %></b>
      <% } %>
    </td>

    <!-- TAGS - HAS OWN STRUCTURE (3 cells) -->

    <% if (dataType === 'tags') { %>
      <td>
        <%- include('../tag/_link', {tag: objectInList}) %>
      </td>
      <td item="<%= itemKey %>" class="value-show">
        <%= tagValue %>
      </td>
      <td item="<%= itemKey %>" class="value-edit">
        <form action="<%= itemPaths.update %>" method="post">
          <input type="hidden" name="index" value="<%= index %>">
          <div>
            <% if (editData.showDropdown) { %>
              <select name="newValue">
                <% editData.dropdownOptions.forEach(option => { %>
                  <option <%= option.selected ? 'selected' : '' %>>
                    <%= option.text %>
                  </option>
                <% }); %>
              </select>
            <% } else if (editData.showTextbox) { %>
              <input name="newValue" value="<%= tagValue %>">
            <% } %>
          </div>
          <button>update</button>
        </form>
      </td>

    <!-- ALL OTHER ATTRIBUTES -->

    <% } else { %>

      <!-- DISPLAY VALUE -->

      <td colspan="2" item="<%= itemKey %>" class="value-show">
        <% if (dataType == 'links') { %>
          <%- include('../format/externalLink', {url: objectInList}) %>
        <% } else if (dataType == 'images') { %>
          <%- include('../image/_link', {image: objectInList}) %>
        <% } else if (dataType == 'people') { %>
          <%- include('../person/_link', {person: objectInList}) %>
        <% } else if (dataType == 'stories') { %>
          <%- include('../story/_link', {story: objectInList}) %>
        <% } else { %>
          <%= objectInList %>
        <% } %>
      </td>

      <!-- EDIT VALUE -->

      <% if (editData) { %>
        <td colspan="2" item="<%= itemKey %>" class="value-edit">
          <form
            action="<%= itemPaths.update %>"
            method="post"
            item="<%= itemKey %>"
            class="value-edit"
          >
            <input type="hidden" name="index" value="<%= index %>">
            <input name="newValue" value="<%= objectInList %>">
            <button>update</button>
          </form>
        </td>
      <% } %>
    <% } %>

    <!-- START EDITING EXISTING VALUE -->

    <td>
      <% if (editData) { %>
        <span
          item="<%= fieldName %>"
          class="clickable-link link-start"
          onclick="startEdit('<%= itemKey %>')"
        >edit value</span>
      <% } %>
    </td>

    <!-- REORDER UP -->

    <td>
      <% if (index > 0) { %>
        <form action="<%= itemPaths.reorder %>" method="post">
          <button type="submit" class="button-reorder">reorder up</button>
        </form>
      <% } %>
    </td>

    <td>
      <!-- DELETE ROW -->

      <form
        method="post"
        action="<%= itemPaths.delete %>"
        onsubmit="return confirmDeletion('<%= fieldName %>')"
      >
        <button type="submit" class="button-delete">delete</button>
      </form>

      <!-- CANCEL EDITING EXISTING VALUE -->

      <span
        item="<%= itemKey %>"
        class="clickable-link link-cancel"
        onclick="cancelEdit()"
      >cancel</span>
    </td>
  </tr>
<% }); %>

<!-- ADD ANOTHER -->

<tr>
  <td>
    <% if (values.length == 0) { %>
      <b><%= fieldName %></b>
    <% } %>
  </td>

  <form action="<%= addItemPath %>" method="post">
    <td colspan="2">
      <!-- START ADDING -->

      <a class="link-start" onclick="startEdit('<%= fieldName %>')">add</a>
      &#160;

      <!-- NEW VALUE -->

      <div item="<%= fieldName %>" class="value-new">
        <% if (dataType == 'people') { %>
          <%- include('../person/_dropdown', {
            fieldName,
            selectedPerson: null,
            people: dataForDropdown.people,
          }) %>
        <% } else if (dataType === 'tags') { %>
          <%- include('../tag/_attach', {
            tags: dataForDropdown.tags,
          }) %>
        <% } else if (dataType == 'stories') { %>
          <%- include('../story/_dropdown', {
            fieldName,
            stories: dataForDropdown.stories,
          }) %>
        <% } else { %>
          <input name="<%= fieldName %>" type="text" value="">
        <% } %>
      </div>
    </td>

    <!-- SUBMIT NEW ITEM -->
    <td>
      <button item="<%= fieldName %>" class="button-submit" type="submit">save</button>
      &#160;
    </td>
  </form>

  <td>
  </td>

  <!-- CANCEL NEW ITEM -->
  <td>
    <a item="<%= fieldName %>" class="link-cancel" onclick="cancelEdit()">cancel</a>
    &#160;
  </td>
</tr>
