<form action="<%= editPath %>" method="post">
  <tr>
    <td>
      <b><%= fieldName %></b>
    </td>

    <td colspan="2">
      <!-- DISPLAY VALUE -->

      <div item="<%= fieldName %>" class="value-show">

        <!-- date, location -->

        <% if (dataType == 'date') { %>
          <%- include('../format/date', {date: originalValue}) %>
        <% } else if (dataType == 'location') { %>
          <%- include('../format/location', {location: originalValue}) %>

        <!-- story -->

        <% } else if (dataType == 'story') { %>
          <% if (originalValue) { %>
            <%- include('../story/_link', {story: originalValue}) %>
          <% } else { %>
            none
          <% } %>

        <!-- source -->

        <% } else if (dataType == 'source') { %>
          <% if (originalValue) { %>
            <%- include('../source/_link', {source: originalValue}) %>
          <% } else { %>
            <i>(none)</i>
          <% } %>

        <!-- textarea -->

        <% } else if (inputType == 'textarea') { %>
          <ul class="bullet-list">
            <% currentValueAsList.forEach(str => { %>
              <li><%= str %></li>
            <% }); %>
          </ul>

        <!-- sharing -->

        <% } else if (shareInfo) { %>
          <img
            class="checkmark-inline"
            src="/images/check-<%= shareInfo.imageValue %>.png"
          >

          <%= shareInfo.shareText %>

          <% if (shareInfo.showSourceWarning) { %>
            <span style="color: red">WARNING: story is not shared</span>
          <% } %>

        <!-- toggle or dropdown: list of preset options -->

        <% } else if (fieldValueOptions.length) { %>
          <%= fieldValueOptions[originalValue] || 'INVALID VALUE' %>

        <!-- everything else -->

        <% } else { %>
          <%= originalValue %>
        <% } %>
      </div>

      <!-- EDITABLE FIELD -->

      <div item="<%= fieldName %>" class="value-edit">
        <% if (dataType == 'date') { %>
          <%- include('../forms/date', {date: originalValue}) %>
        <% } else if (dataType == 'location') { %>
          <%- include('../forms/location', {location: originalValue}) %>
        <% } else if (dataType == 'story') { %>
          <%- include('../story/_dropdown', {fieldName, selectedStory: originalValue}) %>
        <% } else if (inputType == 'textarea') { %>
          <textarea name="<%= fieldName %>"><%= originalValue %></textarea>
        <% } else if (inputType == 'dropdown') { %>
          <select name="<%= fieldName %>">
            <option>-- select --</option>
            <% valueDropownOptions.forEach(({text, value, selected}) => { %>
              <option value="<%= value %>" <%= selected ? 'selected' : '' %>>
                <%= text %>
              </option>
            <% }); %>
          </select>
        <% } else { %>
          <input type="text" value="<%= originalValueText %>" name="<%= fieldName %>">
        <% } %>
      </div>

      <!-- HIDDEN ORIGINAL VALUE -->

      <input item="<%= fieldName %>" class="value-original" type="hidden" value="<%= originalValueText %>">
    </td>
    <td>
      <!-- filler cell to line up with multi value version -->
    </td>
    <td>
      <!-- SUBMIT EDIT -->

      <button item="<%= fieldName %>" class="button-submit" type="submit">save</button>

      <!-- TOGGLE SHOW/EDIT -->

      <% if (useToggleButton) { %>
        <button item="<%= fieldName %>" class="link-start" type="submit"
          <%= disableToggleButton ? " disabled" : "" %>>toggle</button>
      <% } else { %>
        <a item="<%= fieldName %>" class="link-start" onclick="startEdit('<%= fieldName %>')">edit</a>
      <% } %>
    </td>
    <td>
      <a item="<%= fieldName %>" class="link-cancel" onclick="cancelEdit()">cancel</a>
    </td>
  </tr>
</form>
