<style>
  .content-box p {
    margin: 10px 0;
  }
  .text-content .full-view {
    display: none;
  }
</style>

<script>
  function showMore(clickedItem) {
    const $link = $(clickedItem);
    const $div = $link.closest('.text-content');
    $div.find('.cropped-view').remove();
    $div.find('.full-view').removeClass('full-view');
  }
</script>

<%
  const characterLimit = 500;
  let fullArr = [];
  let croppedArr = [];
  let isCropped = false;

  if (content) {
    // For easier editing, do not remove extra spacing when saving;
    // but do not print empty paragraphs.
    fullArr = content.split('\n').map(s => s.trim()).filter(Boolean);
    if (locals.limit) {
      if (content.length > characterLimit) {
        isCropped = true;
        const content2 = content.slice(0, characterLimit) + '...';
        croppedArr = content2.split('\n');
        if (croppedArr.length > 5) {
          croppedArr = croppedArr.slice(0, 5);
        }
      } else if (fullArr.length > 5) {
        croppedArr = fullArr.slice(0, 5);
        isCropped = true;
      }
    }
  }

  function lineIsPartOfTable(str) {
    return str != null && str.length > 0 && str.slice(0, 1) == '\|';
  }
%>

<div class="text-content">
  <% for (let r = 0; r < (isCropped ? 2 : 1); r++) { %>
    <%
      const divClass = [];

      if (isCropped) {
        if (r === 0) {
          divClass.push('full-view');
        } else {
          divClass.push('cropped-view');
        }
      }

      const contentList = r === 0 ? fullArr : croppedArr;
      const showLink = isCropped && r === 1;
    %>
    <div class="<%= divClass.join(' ') %>">
      <% for (let i = 0; i < contentList.length; i++) { %>
        <%
          const str = contentList[i];
          const tableArr = [];

          if (lineIsPartOfTable(str)) {
            tableArr.push(str);
            while (lineIsPartOfTable(contentList[i + 1])) {
              tableArr.push(contentList[i + 1]);
              i += 1;
            }
          }
        %>

        <% if (tableArr.length) { %>
          <%- include('../format/contentTable', {content: tableArr}) %>
        <% } else { %>
          <p style="margin: 10px 0"> <%= str %> </p>
        <% } %>
      <% } %>

      <% if (showLink) { %>
        <p style="margin: 10px 0">
          <a class="clickable-link" onClick="showMore(this)">show more</a>
        </p>
      <% } %>
    </div>
  <% } %>
</div>

<% if (locals.mentions) { %>
  <script>
    (() => {
      let html = $('.text-content').html();
      let placeholderText, newHtml;
      <% mentions.reverse().forEach((mention, i) => { %>
        placeholderText = 'INSERT-MENTION-<%= i + 1 %>';
        <% if (mention.skipTagging) { %>
          newHtml = '<span style="color: blue"><%= mention.replaceText %></span>';
        <% } else if (mention.person) { %>
          newHtml = '<a href="/person/<%= mention.person._id %>"><%= mention.replaceText %></a>';
        <% } else { %>
          newHtml = '<span style="color: red"><%= mention.replaceText %></span>';
        <% } %>
        html = html.replace(placeholderText, newHtml);
      <% }); %>
      $('.text-content').html(html);
    })();
  </script>
<% } %>
