
<div class="source-item-box">
  <div class="column" style="width: 450px;">
    <% if (showStory) { %>
      <p>
        <%- include('../partials/linkToStory', { story: source.story }) %>
      </p>
    <% } %>

    <p>
      <%- include('../partials/linkToSource', {
        source: source,
        showStory: false,
      }) %>
    </p>

    <% if (source.images.length) { %>
      <p>
        <% source.images.forEach(image => { %>
          <%- include('../partials/linkToImage', {
            image,
            css: 'max-height: 100px; max-width: 100%;'
          }) %>
        <% }); %>
      </p>
    <% } %>

    <p>
      <%- include('../format/date', { params: {
        date: source.date,
        format: 'long',
      }}) %>
    </p>

    <p>
      <%- include('../format/location', { params: {
        location: source.location,
      }}) %>
    </p>

    <p>
      <img class="checkmark-inline" src="/images/check-<%= source.sharing %>.png">
      <%= source.sharing ? 'sharing' : 'not sharing' %>
    </p>

    <% if (locals.includePeople && source.people.length) { %>
      <h3>people</h3>

      <%- include('../people/peopleList', {
        people: source.people,
        format: 'bullet',
      }) %>
    <% } %>

    <% if (source.links.length) { %>
      <h3>links</h3>

      <ul class="bullet-list">
        <% source.links.forEach(url => { %>
          <li>
            <%- include('../format/externalLink', { url: url }) %>
          </li>
        <% }); %>
      </ul>
    <% } %>

    <% if (source.summary) { %>
      <%
        const summaryList = source.summary.split('\n');
      %>
      <h3>summary</h3>

      <ul class="bullet-list">
        <% summaryList.forEach(str => { %>
          <li style="max-width: 600px;">
            <%= str %>
          </li>
        <% }); %>
      </ul>
    <% } %>

    <% if (source.notes) { %>
      <%
        const notesList = source.notes.split('\n');
      %>
      <h3>notes</h3>

      <ul class="bullet-list">
        <% notesList.forEach(str => { %>
          <li style="max-width: 600px;">
            <%= str %>
          </li>
        <% }); %>
      </ul>
    <% } %>

    <% if (locals.citationParams && citationParams.citations.length) { %>
      <h3>citations</h3>
      <%- include('../partials/citationList', citationParams) %>
    <% } %>
  </div>

  <div class="column" style="max-width: 600px;" filter="source-details" filter-set="content">
    <h3>content</h3>

    <%- include('../format/content', {
      content: source.content,
      limit: locals.limitContent === true,
    }) %>
  </div>
</div>
