<style>
.person-row-highlight-attachment form.attach-person {
  display: none;
}
</style>

<h1>new census</h1>

<h3>year</h3>

<input value="<%= year %>">

<h3>head of household</h3>

<input value="<%= headOfHouseholder %>">

<h3>date</h3>

<%- include('../forms/date') %>

<h3>location</h3>

<%- include('../forms/location') %>

<% if (missingLinks.length) { %>
  <h3>links</h3>
  <% missingLinks.forEach(link => { %>
    <form action="/source/<%= source._id %>/form" method="post">
      <input type="hidden" name="step" value="links">
      <input type="hidden" name="link" value="<%= link %>">
      <input name="url" placeholder="<%= link %>">
      <button>add</button>
    </form>
  <% }); %>
<% } %>

<h3>enumerator</h3>

<form action="/source/<%= source._id %>/form" method="post">
  <input type="hidden" name="step" value="enumerator">
  <input name="newValue" value="<%= enumerator %>">
  <button>update</button>
</form>

<h3>people</h3>

<% if (source.content) { %>
  <form action="/source/<%= source._id %>/form" method="post">
    <input type="hidden" name="step" value="newcolumn">
    <input type="text" name="column" placeholder="column name"> <br>
    <textarea name="values" placeholder="values"></textarea>
    <button>add column</button>
  </form>
<% } else { %>
  <form action="/source/<%= source._id %>/form" method="post">
    <input type="hidden" name="step" value="people">
    <textarea name="values" placeholder="people"></textarea>
    <button>save</button>
  </form>
<% } %>

<table class="nice-table">
  <tr>
    <th>
      highlight
    </th>
    <% columnNames.forEach(col => { %>
      <th><%= col %></th>
    <% }); %>
  </tr>
  <% rows.forEach((row, i) => { %>
    <tr>
      <td class="person-row-highlight-attachment">
        <button class="start-attach">attach person</button>
        <form action="/source/<%= source._id %>/form" method="post" class="attach-person">
          <input type="hidden" name="step" value="highlightPerson">
          <input type="hidden" name="rowNumber" value="<%= i %>">
          <%- include('../person/_dropdown', {
            fieldName: 'person',
            people: peopleDropdownList,
          }) %>
          <button>attach</button>
          <span class="clickable-link attach-cancel">cancel</span>
        </form>
        <form action="/source/<%= source._id %>/form" method="post" class="attach-empty">
          <input type="hidden" name="step" value="highlightEmpty">
          <input type="hidden" name="rowNumber" value="<%= i %>">
          <button>save as empty</button>
        </form>
      </td>
      <% row.forEach(cell => { %>
        <td>
          <%= cell %>
        </td>
      <% }); %>
    </tr>
  <% }); %>
</table>

<hr style="margin: 30px 0;">

<h2>current content + highlights</h2>

<%- include('../format/content', {
  content: source.highlightedContent,
  highlights: source.highlights,
}) %>

<script>
  $('.person-row-highlight-attachment').each((i, cell) => {
    $(cell).find('button.start-attach').click(() => {
      $(cell).find('form.attach-person').show();
      $(cell).find('form.attach-empty').hide();
      $('button.start-attach, form.attach-empty').hide();
    });
    $(cell).find('.attach-cancel').click(() => {
      $(cell).find('form.attach-person').hide();
      $(cell).find('form.attach-empty').show();
      $('button.start-attach, form.attach-empty').show();
    });
  });
</script>
