<style>
  #new-citation-notation-form {
    display: none;
  }
  #new-citation-notation-form textarea {
    height: 100px;
    width: 300px;
  }
</style>

<%- include('../forms/editTable', {
  item: source,
  itemName: 'source',
  rootPath,
  fields,
  canDelete: source.canBeDeleted(),
}) %>

<% if (needCitationText) { %>
  <h2>citation text</h2>
  <p id="add-citation-notation">
    <span class="clickable-link main-link">+ add notation</span>
  </p>
  <div id="new-citation-notation-form">
    <form method="post" action="<%= citationTextPath %>">
      <input type="hidden" name="title" value="source citation">
      <textarea name="text"></textarea>
      <button>submit</button>
      <span class="clickable-link" id="new-citation-notation-cancel">cancel</span>
    </form>
  </div>
<% } %>

<div>
  <h2>Content</h2>

  <p>
    <span class="clickable-link main-link link-start"
      onClick="startEdit('content')">edit</span>
  </p>

  <div class="value-show" item="content">
    <%- include('../format/content', {
      content: source.content,
      limit: false,
    }) %>
  </div>

  <div class="value-edit" item="content">
    <form action="<%= rootPath %>/edit/content" method="POST">
      <textarea name="content" class="content-textarea"><%= source.content %></textarea>
      <input type="hidden" value="PUT" name="_method">
      <button type="submit">save</button>
      <span class="clickable-link link-cancel"
        onClick="cancelEdit()" item="content">cancel</span>
    </form>
  </div>
</div>

<h2>Citations</h2>

<%- include('../citation/_form', {
  source,
  rootPath,
  fastCitations: true,
}) %>

<%- include('../citation/_list', {
  citations: source.citations,
  citationsByPerson: source.citationsByPerson,
  showDelete: true,
  showSource: false,
  showPerson: true,
  rootPath,
  groupBy: 'person',
}) %>

<script>
  $('#add-citation-notation span').click(() => {
    $('#new-citation-notation-form').show();
    $('#add-citation-notation').hide();
  });
  $('#new-citation-notation-cancel').click(() => {
    $('#new-citation-notation-form').find('[name="text"]').val('');
    $('#new-citation-notation-form').hide();
    $('#add-citation-notation').show();
  });
</script>
