<div>
  <div class="column">
    <h2>people</h2>
    <%- include('../person/_list', {
      people: source.people,
      format: 'bullet',
    }) %>
  </div>
  <div class="column">
    <h2>content</h2>
    <%- include('../format/content', {
      content: source.content,
      limit: false,
    }) %>
  </div>
</div>

<table class="citation-list">
  <tr>
    <th>person</th>
    <th>item</th>
    <th>information</th>
  </tr>
  <% sourceCitationToDoList.forEach(([person, item, value]) => { %>
    <tr class="citation-row-show">
      <td class="citation-cell">
        <%= person.name %>
      </td>
      <td class="citation-cell" colspan="2">
        <form action="<%= rootPath %>/add/citations" method="post">
          <input type="hidden" name="person" value="<%= person._id %>">
          <input type="hidden" name="fastCitations" value="true">
          <div class="column">
            <input type="text" name="item" value="<%= item %>">
          </div>
          <div class="column">
            <input type="text" name="information" value="<%= value %>">
          </div>
          <div class="column">
            <button type="submit">create</button>
          </div>
        </form>
      </td>
    </tr>
  <% }); %>
</table>

<h2>citations</h2>

<%- include('../citation/_list', {
  citations: source.citations,
  citationsByPerson: source.citationsByPerson,
  showDelete: false,
  showSource: false,
  showPerson: true,
  rootPath: rootPath,
  groupBy: 'person',
}) %>

<script>
  initializeEditForm();
</script>
