<style>
.person-highlights-citation-box {
  border: 1px solid gray; margin: 5px; padding: 10px;
}
.person-highlights-citation-header .column,
.person-highlights-citation-box .column {
  width: 45%;
}
.person-highlights-citation-header h2 {
  padding-left: 10px;
}
.person-link-header a {
  color: black;
  text-decoration: none;
}
.person-link-header a:hover {
  color: #00B7FF;
  text-decoration: underline;
}
</style>

<div class="person-highlights-citation-header">
  <div class="column">
    <h2>person + excerpt</h2>
  </div>
  <div class="column">
    <h2>citations</h2>
  </div>
</div>

<% people.forEach(person => { %>
  <div class="person-highlights-citation-box" id="anchor-<%= person._id %>">
    <div class="column">
      <h3 class="person-link-header">
        <%- include('../person/_link', {person}) %>
      </h3>
      <% person.highlights.forEach(highlight => { %>
        <p>
          <%= highlight.excerpt %>
        </p>
      <% }); %>
    </div>
    <div class="column">
      <%- include('../citation/_list', {
        citations: person.citations,
        showDelete: false,
        showSource: false,
        showPerson: false,
        groupBy: 'item',
      }) %>
      <form action="/source/<%= source._id %>/add/citations" method="post">
        <input type="hidden" name="highlightCitation" value="true">
        <input type="hidden" name="sourceId" value="<%= source._id %>">
        <input type="hidden" name="person" value="<%= person._id %>">
        <input type="text" name="item" placeholder="item">
        <input type="text" name="information" placeholder="information">
        <button>add citation</button>
      </form>
    </div>
  </div>
<% }); %>
