<h1>Sources</h1>

<ul class="bullet-list">
  <li><a href="/sources">all</a></li>
  <% mainSourceTypes.forEach(sourceType => { %>
    <li><a href="/sources/<%= sourceType %>"><%= sourceType %></a></li>
  <% }); %>
</ul>

<table class="info-table">
  <tr>
    <th>type</th>
    <th>story</th>
    <th>title</th>
    <th>date</th>
    <th>location</th>
    <th>sharing</th>
  </tr>

  <% sources.forEach(source => { %>
    <tr>
      <td>
        <%= source.story.type %>
      </td>

      <td>
        <%- include('../story/_link', {story: source.story}) %>
      </td>

      <td>
        <%- include('../source/_link', {source}) %>
      </td>

      <td>
        <%- include('../format/date', {date: source.date}) %>
      </td>

      <td>
        <%- include('../format/location', {location: source.location}) %>
      </td>

      <td>
        <img class="checkmark-inline" src="/images/check-<%= source.sharing %>.png">
        <% if (source.sharing && source.story && !source.story.sharing) { %>
          <span style="color: red">WARNING: story not shared</span>
        <% } %>
      </td>
    </tr>
  <% }); %>
</table>
