<h1>Sources</h1>

<ul class="bullet-list">
  <li><a href="/sources">all</a></li>
  <% mainSourceTypes.forEach(sourceType => { %>
    <li><a href="/sources/<%= sourceType %>"><%= sourceType %></a></li>
  <% }); %>
</ul>

<div style="margin: 20px 0;">
  <input id="source-quick-filter" placeholder="filter">
</div>

<table class="nice-table">
  <tr>
    <th>type</th>
    <th>story</th>
    <th>title</th>
    <th>date</th>
    <th>location</th>
    <th>sharing</th>
  </tr>

  <% sources.forEach(source => { %>
    <%
      const searchWords = [
        source.story.type,
        source.story.title,
        source.title
      ].join(' ');
    %>
    <tr class="source-item" search-words="<%= searchWords %>">
      <td>
        <%= source.story.type %>
      </td>
      <td>
        <%- include('../story/_link', {story: source.story}) %>
      </td>
      <td>
        <%- include('../source/_link', {source}) %>
      </td>
      <td>
        <%- include('../format/date', {date: source.date}) %>
      </td>
      <td>
        <%- include('../format/location', {location: source.location}) %>
      </td>
      <td class="center">
        <img class="checkmark-inline" src="/images/check-<%= source.sharing %>.png">
        <% if (source.sharing && source.story && !source.story.sharing) { %>
          <span style="color: red">WARNING: story not shared</span>
        <% } %>
      </td>
    </tr>
  <% }); %>
</table>

<script>
  createQuickFilter({
    input: '#source-quick-filter',
    items: 'tr.source-item',
    getItemText: $item => $item.attr('search-words'),
    startFocus: true,
  });
</script>
