<%
  const rootPath = '/source/' + source._id;

  const linksList = source.links;

  if (source.sharing) {
    linksList.push('https://ancestry.annacpeterson.com/?source/' + source._id + ' CustomSite');
  }

  // Show the date & location if the story type allows it,
  // OR if it already has one.

  const canHaveDate = !['grave'].includes(source.story.type)
    || (source.date && (source.date.year || source.date.month
      || source.date.day || source.date.display));

  const canHaveLocation = !['grave', 'newspaper'].includes(source.story.type)
    || (source.location && (source.location.country || source.location.region1
      || source.location.region2 || source.location.city
      || source.location.notes));

  const missingCitation = source.story.title.match('Census USA')
    && source.citeText.length < 2;
%>

<h2>sharing</h2>

<p>
  <% if (source.sharing) { %>
    <img class="checkmark-inline" src="/images/check-true.png"> yes
  <% } else { %>
    <img class="checkmark-inline" src="/images/check-false.png"> no
  <% } %>
</p>

<%- include('../tag/_list', {tags: source.tags}) %>

<% if (source.summary) { %>
  <%
    const summaryItems = source.summary.split('\n');
  %>
  <h2>summary</h2>
  <% summaryItems.forEach(str => { %>
    <p style="max-width: 600px;">
      <%= str %>
    </p>
  <% }); %>
<% } %>

<% if (canHaveDate) { %>
  <h2>date</h2>
  <p>
    <%- include('../format/date', { date: source.date }) %>
  </p>
<% } %>

<% if (canHaveLocation) { %>
  <h2>location</h2>
  <p>
    <%- include('../format/location', { location: source.location }) %>
  </p>
<% } %>

<h2>people</h2>

<%- include('../person/_list', {
  people: source.people,
  format: 'bullet',
}) %>

<% if (source.stories.length) { %>
  <h2>stories</h2>
  <ul class="bullet-list">
    <% source.stories.forEach(story => { %>
      <li>
        <%- include('../story/_link', {story}) %>
      </li>
    <% }); %>
  </ul>
<% } %>

<% if (linksList.length) { %>
  <h2>links</h2>
  <ul class="bullet-list">
    <% linksList.forEach(linkUrl => { %>
      <li>
        <%- include('../format/externalLink', { url: linkUrl }) %>
      </li>
    <% }); %>
  </ul>
<% } %>

<% if (source.images.length) { %>
  <h2>images</h2>
  <p>
    <% source.images.forEach(image => { %>
      <%- include('../image/_link', {image}) %>
    <% }); %>
  </p>
<% } %>

<% if (source.notes) { %>
  <%
    const notesList = source.notes.split('\n');
  %>
  <h2>notes</h2>

  <ul class="bullet-list">
    <% notesList.forEach(note => { %>
      <li style="max-width: 600px;">
        <%= note %>
      </li>
    <% }); %>
  </ul>
<% } %>

<h2>content</h2>

<%- include('../format/content', {
  content: source.content,
  limit: false,
}) %>

<% if (source.citeText.length) { %>
  <h2>citation text</h2>
  <ul class="bullet-list">
    <% if (missingCitation) { %>
      <li><span style="color: red;">missing</span></li>
    <% } %>
    <% source.citeText.forEach(text => { %>
      <li><%= text %></li>
    <% }); %>
  </ul>
<% } %>

<h2>citations</h2>

<%- include('../citation/_list', {
  citations: citations,
  showDelete: false,
  showSource: false,
  showPerson: true,
  rootPath: rootPath,
  groupBy: 'person',
}) %>
