<%
  const showEditDelete = locals.showDelete || false;

  const citationTables = [];

  if (locals.citations) {
    citationTables.push({
      list: citations,
      sort: 'item',
    });
  }

  if (showPerson && locals.citationsByPerson) {
    citationTables.push({
      list: citationsByPerson,
      sort: 'person',
    });
  }

  const citationSortableTables = citationTables.length > 1;
%>

<% if (citationSortableTables) { %>
  <script>
    function sortCitationsByItem() {
      $('table.citation-sort-by-item').show();
      $('table.citation-sort-by-person').hide();
    }
    function sortCitationsByPerson() {
      $('table.citation-sort-by-person').show();
      $('table.citation-sort-by-item').hide();
    }
  </script>
<% } %>

<% citationTables.forEach(citationTable => { %>
  <table class="citation-list citation-sort-by-<%= citationTable.sort %>">
    <tr>
      <% if (showPerson) { %>
        <th>
          person
          <% if (citationSortableTables) { %>
            <% if (citationTable.sort == 'person') { %>
              <span class="already-sorted"><u>[sort]</u></span>
            <% } else if (citationTable.sort != 'none') { %>
              <span class="clickable-link" onClick="sortCitationsByPerson()">[sort]</span>
            <% } %>
          <% } %>
        </th>
      <% } %>
      <th colspan="2">
        item
        <% if (citationSortableTables) { %>
          <% if (citationTable.sort == 'item') { %>
            <span class="already-sorted"><u>[sort]</u></span>
          <% } else if (citationTable.sort != 'none') { %>
            <span class="clickable-link" onClick="sortCitationsByItem()">[sort]</span>
          <% } %>
        <% } %>
      </th>
      <th> information </th>
      <% if (showSource) { %>
        <th> source </th>
      <% } %>
      <% if (showEditDelete) { %>
        <th> edit </th>
        <th> delete </th>
      <% } %>
    </tr>

    <%
      let previousPerson;
      let previousItem1 = '';
      let previousItem2 = '';
      let oddRow = false;
    %>

    <% citationTable.list.forEach((citation, i) => { %>
      <%
        let item1 = citation.item;
        let item2 = '';

        let itemCellClass1 = 'citation-item';
        let itemCellClass2 = 'citation-item';

        if (item1.match(' - ')) {
          item2 = item1.slice(item1.indexOf(' - ') + 3);
          item1 = item1.slice(0, item1.indexOf(' - '));
        }

        if (groupBy == 'item') {
          if (item1 == previousItem1) {
            itemCellClass1 += '-repeat';
            if (item2 == previousItem2) {
              itemCellClass2 += '-repeat';
            }
          }

          previousItem1 = item1;
          previousItem2 = item2;
        }

        if (citationTable.sort == 'person') {
          if (previousPerson != citation.person._id) {
            oddRow = previousPerson === undefined ? false : !oddRow;
            previousPerson = citation.person._id;
          }
        }

        let classShow = 'citation-row-show alternate-row-' + oddRow;
        let classEdit = 'citation-row-edit alternate-row-' + oddRow;

        if (i == citationTable.list.length - 1) {
          classShow += ' last-item';
          classEdit += ' last-item';
        }
      %>

      <tr data-citation-id="<%= citation._id %>" class="<%= classShow %>">
        <% if (showPerson) { %>
          <td class="citation-cell">
            <%- include('../person/_link', {person: citation.person}) %>
          </td>
        <% } %>
        <td class="<%= itemCellClass1 %>">
          <%= item1 %>
        </td>
        <td class="<%= itemCellClass2 %>">
          <%= item2 %>
        </td>
        <td class="citation-cell">
          <%= citation.information %>
        </td>
        <% if (showSource) { %>
          <td class="citation-cell">
            <%- include('../source/_link', {
              source: citation.source,
              showStory: true,
            }) %>
          </td>
        <% } %>
        <% if (showEditDelete) { %>
          <td class="citation-cell">
            <span class="clickable-link link-start"
              onclick="startEdit('citation', '<%= citation._id %>')">edit</span>
          </td>
          <td class="citation-cell">
            <form action="<%= rootPath %>/delete/citations/<%= citation._id %>" method="POST"
                onsubmit="return confirmDeletion('citation')">
              <input type="hidden" value="DELETE" name="_method">
              <button type="submit" class="button-delete">delete</button>
            </form>
          </td>
        <% } %>
      </tr>
      <% if (showEditDelete) { %>
        <form action="<%= rootPath %>/edit/citations/<%= citation._id %>" method="POST">
          <tr data-citation-id="<%= citation._id %>" class="<%= classEdit %>">
            <td>
              <%- include('../person/_dropdown', {
                fieldName: 'person',
                selectedPerson: citation.person,
              }) %>
            </td>
            <td colspan="2" class="citation-cell">
              <input name="item" value="<%= citation.item %>">
            </td>
            <td>
              <input name="information" value="<%= citation.information %>">
            </td>
            <td>
              <span class="clickable-link" onclick="cancelEdit()">cancel</span>
            </td>
            <td>
              <button>save</button>
            </td>
          </tr>
        </form>
      <% } %>
    <% }); %>
  </table>
<% }); %>

<% if (citationSortableTables) { %>
  <script>
    sortCitationsByPerson();
  </script>
<% } %>
