
<% if (locals.filterByType) { %>
  <div class="filter-buttons" filter="timeline">
    <div class="filter-button active" filter-set="personal">
      personal
    </div>
    <div class="filter-button active" filter-set="spouse">
      spouse
    </div>
    <div class="filter-button active" filter-set="child">
      children
    </div>
    <div class="filter-button active" filter-set="census">
      census
    </div>
    <div class="filter-button active" filter-set="newspapers">
      newspapers
    </div>
    <div class="filter-button" filter-set="source">
      other sources
    </div>
  </div>
<% } %>

<br>

<table class="event-list">
  <tr>
    <th>title</th>
    <th>date</th>
    <% if (locals.showLocation !== false) { %>
      <th>location</th>
    <% } %>
    <th>people</th>
    <th>notes</th>
    <% if (locals.showTags) { %>
      <th>tags</th>
    <% } %>
  </tr>

  <% events.forEach(event => { %>
    <%
      let eventType = event.type || 'notype';
      let eventPath;

      if (event.source) {
        eventPath = '/source/' + event.source._id;
      } else {
        eventPath = '/event/' + event._id;
      }
    %>
    <tr class="event-row-<%= eventType %>" filter="timeline" filter-set="<%= eventType %>">
      <td>
        <a href="<%= eventPath %>"><%= event.title %></a>
      </td>
      <td>
        <%- include('../format/date', {date: event.date}) %>
      </td>
      <% if (locals.showLocation !== false) { %>
        <td>
          <%- include('../format/location', {
            location: event.location,
            showLinkIfComplete: true,
          }) %>
        </td>
      <% } %>
      <td>
        <%- include('../person/_list', {
          people: event.people,
          format: 'list',
        }) %>
      </td>
      <td style="max-width: 400px;">
        <%= event.notes %>
        <% if (event.source) { %>
          <% event.source.images.forEach(image => { %>
            <a
              href="<%= image.src() %>"
              target="_blank"
            ><img
              src="<%= image.src() %>"
              style="max-height: 100px; max-width: 350px;"
            ></a>
          <% }); %>
        <% } %>
      </td>
      <% if (locals.showTags) { %>
        <td>
          <%- include('../tag/_list', {item: event}) %>
        </td>
      <% } %>
    </tr>
  <% }); %>
</table>

<% if (locals.filterByType) { %>
  <script>
    createToggleFilter('timeline');
  </script>
<% } %>
